 @model DSRCManagementSystem.Models.AddDepartment
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <style>
     .dropdown-menu {
    background-color:white;
}
        </style>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProjectMeeting</title>
    <link href="../../Content/Template/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css"
        rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/entypo.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/animation.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"
        id="style-resource-4" />
    <link href="../../Content/Template/css/custom.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/moment.js" type="text/javascript"></script>
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
        type="text/javascript"></script>
    <link href="../../Content/Plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
        rel="stylesheet" type="text/css" />
    <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>
    <script src="../../Content/JS/ToasterAlert.js" type="text/javascript"></script>
    <script type="text/javascript">

      

        $(function () {
            $(".modal-body select").select2({
                minimumResultsForSearch: -1
            });
            $("#sp").select2();
            $("#roles").select2();
            $("#Name").select2();
        });

        function Save() {
           
            var GroupName = $("#GroupName").val();

            var GroupNametrim = GroupName.replace(/\s/g, "").length;



            if ((document.getElementById('Name').value == '' || GroupNametrim == "")) {
                if (document.getElementById('Name').value == '') {
                    document.getElementById("span_DepartmentName").innerHTML = "Select department name";
                }
                else {
                    document.getElementById("span_DepartmentName").innerHTML = "";
                }
                if (GroupNametrim == "") {
                    document.getElementById("span_GroupName").innerHTML = "Enter group";
                }
                else {
                    document.getElementById("span_GroupName").innerHTML = "";
                }
            }
            else {
                var values =
                           {


                               "DepartmentId": $("#Name").val(),
                               "GroupName": $("#GroupName").val()

                           }
                var opts =
                       {
                           "closeButton": true,
                           "debug": false,
                           "positionClass": "toast-top-right",
                           "toastClass": "White",
                           "onclick": null,
                           "showDuration": "300",
                           "hideDuration": "1000",
                           "timeOut": "2000",
                           "extendedTimeOut": "1000",
                           "showEasing": "swing",
                           "hideEasing": "linear",
                           "showMethod": "fadeIn",
                           "hideMethod": "fadeOut"
                       }

                $.ajax({

                    url: "../../Department/AddGroup/",
                    type: 'POST',
                    cache: false,
                    data: values,
                    traditional: true,
                    global: false,
                    success: function (result) {

                        if (result == "Success1") {
                            toastr.success(" Group Added successfully", opts);
                            setTimeout(function () { location.reload(); }, 1000);
                           // return Redirect(Url.Action("Department", new { id: note.Id }) + "#GroupManagement");
                            //window.location.href = window.location.href + "#GroupManagement"
                            

                        }
                        if (result == "Warning") {
                            toastr.warning("Already Exist", opts);
                        }
                    }

                });
            }
        }

        

    </script>
</head>
<body>
    <div class="modal-content">
        <div class="modal-header" style="background-color: #f0f0f1;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×</button>
            <h4 class="modal-title">Add Group</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                   
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12" style="text-align: right">
                                    @Html.Label("*", new { @style = "color:#FF0000" }) Required field(s)
                                </div>
                                <div class="col-md-4">
                                    @Html.Label("Department Name",(string)ViewBag.Lbl_department)
                                    @Html.Label("*", new { @style = "color:red;font-weight:;" })
                                </div>
                                <div class="col-md-4" style="padding-left: 5px">
                                    @Html.DropDownList("Name", ViewBag.Department as SelectList,"--Select--" , new { @id = "Name", @class = "select2-container select2-container-multi select2 visible", @style = "Width:200Px" })
                                    <span id="span_DepartmentName" style="color: Red;"></span>
                                </div>
                                 </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                    @Html.Label("Group Name",(string)ViewBag.Lbl_depgroup )
                                    @Html.Label("*", new { @style = "color:red;font-weight:;" })
                                </div>
                                <div class="col-md-4" style="padding-left: 5px">
                                    @Html.TextBoxFor(model => model.GroupName, new { @name = "GroupName", @id = "GroupName", @class = "form-control", @style = "Width:200Px;Height:42px" })
                                    @Html.ValidationMessage("GroupName", "", new { @class = "editor-validator", @style = "color:red;" })
                                    <span id="span_GroupName" style="color: Red;"></span>
                                </div>
                                    </div>

                           
                        </div>
                   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="btnAdd" class="btn btn-info" onclick="Save()">
                    Save
                </button>
            </div>
        </div>
        <div class="modal fade in" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="tools">
                    <div id="PartialSection">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
