@model IEnumerable<DSRCManagementSystem.Models.Department>

@{
    ViewBag.Title = "UsersObservation";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section AddToHead
{
    <link href="../../Content/Template/js/select2/select2-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/js/select2/select2.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/Template/js/raphael-min.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/morris.min.js" type="text/javascript"></script>
}

@{
    int SNO = 1;
}


<style>
    .num {
        height: 30px;
    }
</style>
<ol class="breadcrumb bc-3">
    <li>
        <a href="@Url.Action("UsersObservation", "ManageObservation")">
            <i class="fa-home"></i>Activity Management
        </a>
    </li>
    <li class="active"><strong>Users Activity</strong> </li>
</ol>
<br />

<div class="panel-heading">
    <div class="panel-options">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-shadow" data-collapsed="0">
            <!-- panel head -->
            <div class="panel-heading">
                <div class="panel-title" color="White">
                    Users Activity
                </div>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                <div class="row">


                    <div class="col-md-4">
                        @Html.Label("User", new { @class = "control-label" })

                        @Html.DropDownList("ID", ViewBag.Years as SelectList, new { @id = "ID", @name = "ID", @class = "form-control select2", @onclick = "Get(this.value)" })
                    </div>
                </div>
                <br />
                <br />


                <div class="panel panel-default panel-shadow" data-collapsed="0">
                    <!-- panel head -->

                    <div class="panel-heading">
                        <div class="panel-title" color="White">
                            Activity Chart
                        </div>
                        <div class="panel-options">
                            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                        </div>
                    </div>

                    <!-- panel body -->

                    <div id="PanelClose" class="panel-body" style="overflow: auto">

                        <div class="form-group">

                            <br />
                            <div class="col-md-12" style="margin-left: 1px;">
                                <div class="panel-body" data-collapsed="0">
                                    <div class="row" style="height: 320px;" id="hidden_div">
                                        <div id="myfirstchart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                 

                <div class="panel panel-default panel-shadow" data-collapsed="0">
                    <div class="panel-heading">
                        <div class="panel-title">
                            User Activity
                        </div>
                        <div class="panel-options">
                            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                        </div>
                    </div>



                    <table class="table table-bordered datatable" id="tblRoles">
                        <thead>
                            <tr>
                                <th style="text-align: center;">S.No
                                </th>
                                <th style="text-align: center;">@Html.DisplayName("User")
                                </th>
                                <th style="text-align: center;">@Html.Raw((string)ViewBag.Lbl_department)
                                </th>
                                @* <th style="text-align: center;">@Html.Raw((string)ViewBag.Lbl_depgroup)
                                </th>*@
                                <th style="text-align: center;">Group
                                </th>
                                <th style="text-align: center;">@Html.DisplayName("Activity")
                                </th>
                                <th style="text-align: center;">@Html.DisplayName("Level")
                                </th>
                                <th style="text-align: center;">@Html.DisplayName("Date")
                                </th>
                                <th style="text-align: center;">@Html.DisplayName("Comments")
                                </th>


                                @* <th style="text-align: center;">@Html.DisplayName("Edit")
                                    </th>
                                    <th style="text-align: center;">@Html.DisplayName("Delete")
                                    </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                <tr class="@Html.Raw((item.SelectedUserStatusid == 2) ? "danger" : "")">
                                    <td>
                                        @(SNO++)
                                    </td>

                                    <td>
                                        @Html.HiddenFor(modelitem => item.DepartmentID)
                                        @Html.DisplayFor(modelitem => item.GroupName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.DepartmentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.OBUserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.Activity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.ActivityLevel)

                                    </td>
                                    <td>

                                        @item.ActivityDate.ToString("ddd, MMM d, yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.Comment)
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>

@section scripts
{
    <script src="../../Content/Template/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>
    <script src="../../Content/bootstrap/bootbox.min.js" type="text/javascript"></script>
    <script src="../../Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Content/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/toastr.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document)
         .ready(function () {
            

             $("#tblRoles")
                 .dataTable({
                     "sPaginationType": "bootstrap",
                     "aLengthMenu": [[10, 15, 20, 25, -1], [10, 15, 20, 25, "All"]],
                     "aaSorting": [],
                     "columnDefs": [{ bSortable: false, 'aTargets': [6] }, { bSortable: false, 'aTargets': [7] }]

                 });
             $(".dataTables_wrapper select")
                 .select2({
                     minimumResultsForSearch: -1
                 });
             $('thead>tr>th').css('text-align', 'center');

         });

   

        function Get(Year) {

            var Year = $("#ID").find("option:selected").prop("value");
            $.ajax({
                url: "../../ManageObservation/GetYear/",
                type: 'GET',
                cache: false,
                data: { year: Year },
                success: function (result) {
                    window.location.href = '@Url.Action("UsersObservation", "ManageObservation")' + '?ID=' + result;
                }
            });

            }



            $(document).ready( function () {
                debugger;
       
                  
                var Id = @Html.Raw(Json.Encode(ViewData["LoginIDs"]));
           
                    var json = (function () {
                        debugger;
                
                        var json = null;
                        $.ajax({
                            'async': false,
                            'global': false,
                            url: "../../ManageObservation/Data/",
                            data: { Id: Id },
                            'dataType': "json",
                            'success': function (data) {

                                json = data;
                            }
                        });
                        return json;
                    })
                  ();


                    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];


                    var usage_graph = Morris.Line({
                        element: 'myfirstchart',
                        data: json,
                        xkey: 'm',
                        //ykeys: ['a'],
                        ykeys: ['Level'],
                        labels: ['Level', 'Date', 'LevelName', 'm'],
                        xLabels: ['m'],
                        resize: true,
                        hideHover: 'true',
                        parseTime: false,

                        xLabelAngle: 60,

                        hoverCallback: function (index, options, content) {

                            $(".morris-hover").html(
                               "<div>"
                               + "<p style='color:Green;'> Date: " + options.data[index].Date + "</p>"
                               + "<p style='color:#ff9900;'>Activity:  " + options.data[index].m + "</p>"
                               + "<p style='color:Blue;'>Level:  " + options.data[index].LevelName + "</p>"
                               +
                               "</div>");
                        },
              
                    });
  

                    $("#myfirstchart").children().attr("width", "890");

           
                   @* $("#PanelClose").hide();*@
               } );





        @*        $('.panel').click(function () {
        
            $("#PanelClose").show();

            var Id = @Html.Raw(Json.Encode(ViewData["LoginIDs"]));
           
            var json = (function () {
                debugger;
                
                var json = null;
                $.ajax({
                    'async': false,
                    'global': false,
                    url: "../../ManageObservation/Data/",
                    data: { Id: Id },
                    'dataType': "json",
                    'success': function (data) {

                        json = data;
                    }
                });
                return json;
            })
          ();


            var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];


            var usage_graph = Morris.Line({
                element: 'myfirstchart',
                data: json,
                xkey: 'm',
                //ykeys: ['a'],
                ykeys: ['Level'],
                labels: ['Level', 'Date', 'LevelName', 'm'],
                xLabels: ['m'],
                resize: true,
                hideHover: 'true',
                parseTime: false,

                xLabelAngle: 55,

                hoverCallback: function (index, options, content) {

                    $(".morris-hover").html(
                       "<div>"
                       + "<p style='color:Green;'> Date: " + options.data[index].Date + "</p>"
                       + "<p style='color:#ff9900;'>Activity:  " + options.data[index].m + "</p>"
                       + "<p style='color:Blue;'>Level:  " + options.data[index].LevelName + "</p>"
                       +
                       "</div>");
                },
              
            });
  

            $("#myfirstchart").children().attr("width", "890");

            //do something
        });*@
    </script>
}

