@model DSRCManagementSystem.Models.ManageAssessment
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProjectMeeting</title>
    <link href="../../Content/Template/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css"
        rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/entypo.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/animation.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"
        id="style-resource-4" />
    <link href="../../Content/Template/css/custom.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/moment.js" type="text/javascript"></script>
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
        type="text/javascript"></script>
    <link href="../../Content/Plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
        rel="stylesheet" type="text/css" />
    <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>
    <script src="../../Content/JS/ToasterAlert.js" type="text/javascript"></script>
    <script src="http://jsfiddle.net/laelitenetwork/puJ6G/" type="text/javascript"></script>
    <script src="../../Completion/multiselect.min.js" type="text/javascript"></script>
    <script src="../../Completion/3.34.js" type="text/javascript"></script>
    <script src="../../Completion/multiselect.js" type="text/javascript"></script>
    <style type="text/css">
        .center {
            width: 150px;
            margin: 40px auto;
        }

     div#spinner {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        /*background-color: #333333;*/
        opacity: 0.8;
    }

        div#spinner {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        /*background-color: #333333;*/
        opacity: 0.8;
    }

    </style>


     <style>
      .dropdown-menu {
    background-color: white;
}   
        </style> 

    <script type="text/javascript">
        $(function () {
            $(".modal-body select").select2({
                minimumResultsForSearch: -1
            });
            $("#sp").select2();
            $("#roles").select2();
            
        });
   

        function Save() {

            $("div#spinner").fadeIn("fast");
            var AssessmentName = $("#AssessmentName").val();

            var AssessmentNametrim = AssessmentName.replace(/\s/g, "").length;

            var TotalScore = parseInt($("#TotalScore").val());

            // var TotalScoretrim = TotalScore.replace(/\s/g, "").length;

            var PassingScore = parseInt($("#PassingScore").val());

            //var PassingScoretrim = PassingScore.replace(/\s/g, "").length;

         
            $("#multiselect_to option").prop("selected", "selected");



            if ((TotalScore === 0 || PassingScore===0||AssessmentNametrim === 0 || document.getElementById('AssessmentDate').value === "" || isNaN(TotalScore) || isNaN(PassingScore) || (PassingScore > TotalScore))) {
                if (AssessmentNametrim === 0) {
                    document.getElementById("span_AssessmentName").innerHTML = "Enter Assessment Name";
                }
                else {
                    document.getElementById("span_AssessmentName").innerHTML = "";
                }
                if (document.getElementById('AssessmentDate').value === "") {
                    document.getElementById("span_AssessmentDate").innerHTML = "Select Assessment Date";
                }
                else {
                    document.getElementById("span_AssessmentDate").innerHTML = "";
                }
                if (TotalScore === '' || isNaN(TotalScore) || TotalScore===0) {
                    document.getElementById("span_TotalScore").innerHTML = "Enter Total Score";
                }
                else {

                    document.getElementById("span_TotalScore").innerHTML = "";
                }
                if (PassingScore === '' || isNaN(PassingScore) || PassingScore===0) {
                    document.getElementById("span_PassingScore").innerHTML = "Enter Passing Score";
                }
                else {
                    document.getElementById("span_PassingScore").innerHTML = "";
                }
                //if (TotalScore === 0) {
                //    document.getElementById("span_TotalScore").innerHTML = "Total Score Must Greater than Zero";
                //}
                //else {
                //    document.getElementById("span_TotalScore").innerHTML = "";
                //}
                //if (PassingScore === 0) {
                //    document.getElementById("span_PassingScore").innerHTML = "Passing Score Must Greater than Zero";
                //}
                //else {
                //    document.getElementById("span_PassingScore").innerHTML = "";
                //}
                if (PassingScore > TotalScore) {
                    document.getElementById("span_PassingScore").innerHTML = "Passing Score Must be Lesser or Equal to Total Score";
                }
                else {
                    document.getElementById("span_PassingScore1").innerHTML = "";
                }
                if (document.getElementById('multiselect_to').value == '') {
                    document.getElementById("spanmultiselect_to").innerHTML = "Assign User";
                }



            }
            else {
                $("div#spinner").fadeIn("fast");
                var values =
                {
                    "AssessmentName": $("#AssessmentName").val(),
                    "AssessmentDescription": $("#AssessmentDescription").val(),
                    "AssessmentDate": $("#AssessmentDate").val(),
                    "TotalScore": $("#TotalScore").val(),
                    "PassingScore": $("#PassingScore").val(),
                    "SelectedEmpList": $("#multiselect_to").val(),
                    "UID": $("#UID").val(),
                   

                }
                var opts =
                       {
                           "closeButton": true,
                           "debug": false,
                           "positionClass": "toast-top-right",
                           "toastClass": "White",
                           "onclick": null,
                           "showDuration": "300",
                           "hideDuration": "1000",
                           "timeOut": "2000",
                           "extendedTimeOut": "1000",
                           "showEasing": "swing",
                           "hideEasing": "linear",
                           "showMethod": "fadeIn",
                           "hideMethod": "fadeOut"
                       }

                $.ajax({

                    url: "../../ManageAssessment/EditAssessment/",
                    type: 'POST',
                    cache: false,
                    data: values,
                    traditional: true,
                    global: false,
                    success: function (result) {

                        if (result == "Success") {
                            toastr.success(" Assessment Updated successfully", opts);
                            setTimeout(function () { location.reload(); }, 1000);



                        }
                        if (result == "Warning") {
                            toastr.warning("Assessment Name Already Exist", opts);
                        }
                    }

                });
            }
        }



  
        $(document).ready(function () {


            $(".datetimepicker").datepicker({
                format: 'dd-mm-yyyy',
                //startDate: '1d',
                todayHighlight: true,
                autoclose: true,
                //endDate: '1d'

            });
        });

    </script>
     @{
        DSRCManagementSystem.DSRCManagementSystemEntities1 db = new DSRCManagementSystem.DSRCManagementSystemEntities1();
        var branchcnt = db.Master_Branches.ToList().Count;
        var branchId = db.Master_Branches.ToList();
        }
</head>
<body>
    <div class="modal-content">
        <div class="modal-header" style="background-color: #f0f0f1;">
            <button type="button" class="close" onclick="javascript:window.location.reload()" data-dismiss="modal" aria-hidden="true">
                ×</button>
            <h4 class="modal-title">Edit Assessment </h4>
        </div>
        <div class="modal-body">

                @Html.Hidden("UID",(int)@ViewBag.UID,new{@id="UID"})
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                          @if (branchcnt==1)
                        
                        {
                        <div class="visible-md" style="text-align: right">
                            @Html.Label("*", new {@style = "color:#FF0000"}) Required field(s)
                        </div>
                        <div class="visible-md" style="width: 200px; padding-top: 7px; margin-left: 15px;">
                            @Html.Label("Branches",(string)ViewBag.Lbl_branch, new {@class = "control-label"})
                            @Html.TextBox("BranchID", (string) @ViewBag.BranchName, new {@id = "Idbranchname", @name = "BranchName", @class = "form-control", @style = "Width:520Px;Height:42px", disabled = "disabled"})
                        </div>
                          }else{
                          <div class="col-md-12" style="text-align: right">
                            @Html.Label("*", new {@style = "color:#FF0000"}) Required field(s)
                        </div>
                        <div class="col-md-12" style="width: 200px; padding-top: 7px; margin-left: 15px;">
                            @Html.Label("Branches",(string)ViewBag.Lbl_branch, new {@class = "control-label"})
                            @Html.TextBox("BranchID", (string) @ViewBag.BranchName, new {@id = "Idbranchname", @name = "BranchName", @class = "form-control", @style = "Width:520Px;Height:42px", disabled = "disabled"})
                        </div>
                          
                          }


                    </div>
                    <br/>
                    <div class="row">


                        <div class="col-md-6" style="width: 200px; padding-top: 7px; margin-left: 15px;">
                            @Html.Label("Department",(string)ViewBag.Lbl_department, new {@class = "control-label"})
                            @Html.TextBox("DepartmentId", (string) @ViewBag.DeptName, new {@id = "Iddepartment", @name = "DepartmentId", @class = "form-control", @style = "Width:200Px;Height:42px", disabled = "disabled"})
                        </div>
                        <div class="col-md-6" style="width: 200px; padding-top: 7px; margin-left: 115px;">
                            @Html.Label("Department Group",(string)ViewBag.Lbl_depgroup , new {@class = "control-label"})
                            @Html.TextBox("GroupID", (string) @ViewBag.GroupName, new {@id = "Idgroup", @name = "GroupName", @class = "form-control", @style = "Width:200Px;Height:42px", disabled = "disabled"})
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-6" style="width: 200px; padding-top: 7px; margin-left: 15px;">
                            @Html.Label("Assessment Name")
                            @Html.Label("*", new {@style = "color:red;font-weight:;"})
                            @Html.TextBoxFor(x => x.AssessmentName, new {@id = "AssessmentName", @name = "AssessmentName", @class = "form-control", @maxlength = 50, @style = "Width:200Px;Height:42px"})
                            <span id="span_AssessmentName" style="color: Red;"></span>
                        </div>
                        <div class="col-md-6" style="width: 200px; padding-top: 7px; margin-left: 115px;">
                            @Html.Label("Assessment Date ")
                            @Html.Label("*", new {@style = "color:red;font-weight:;"})
                            @Html.TextBoxFor(x => x.AssessmentDate, "{0:dd/MM/yyyy}", new {@id = "AssessmentDate", @name = "AssessmentDate", @class = "form-control datetimepicker", @placeholder = "Assessment Date", @autocomplete = "off", @style = "Width:200Px;Height:42px"})
                            <span id="span_AssessmentDate" style="color: Red;"></span>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-6" style="width: 200px; padding-top: 7px; margin-left: 15px;">
                            @Html.Label("Total Score ")
                            @Html.Label("*", new {@style = "color:red;font-weight:;"})
                            @Html.TextBoxFor(x => x.TotalScore, new {@name = "TotalScore", @id = "TotalScore", @class = "form-control", @style = "Width:200Px;Height:42px", @maxlength = "200",@type="number" ,@onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" })
                            <span id="span_TotalScore" style="color: Red;"></span>
                        </div>
                        <div class="col-md-6" style="width: 200px; padding-top: 7px; margin-left: 115px;">
                            @Html.Label("Passing Score ")
                            @Html.Label("*", new {@style = "color:red;font-weight:;"})
                            @Html.TextBoxFor(x => x.PassingScore, new {@name = "PassingScore", @id = "PassingScore", @class = "form-control", @style = "Width:200Px;Height:42px", @maxlength = "200"  ,@type="number" ,@onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" })
                            <span id="span_PassingScore" style="color: Red;"></span>
                            <span id="span_PassingScore1" style="color: Red;"></span>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12" style="width: 200px; padding-top: 7px; margin-left: 15px;">
                            @Html.Label("Assessment Description")
                            @Html.TextAreaFor(x => x.AssessmentDescription, new {@name = "AssessmentDescription", @id = "AssessmentDescription", @class = "form-control", @style = "Width:520Px;Height:100px", @maxlength = "200"})

                        </div>
                    </div>
                </div>
            </div>
            </div>



         <div id="spinner">
                        <div id="LoaderContent" style="height: 100%;">
                            <img src="../../Content/Template/images/finalloader.GIF" style="margin-left: 43%; margin-top: 40%;" />
                        </div>
                    </div>




        

            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:window.location.reload()">
                    Cancel
                </button>
                <button type="button" id="btnAdd" class="btn btn-info" onclick="Save()">
                    Save
                </button>
            </div>

            <div class="modal fade in" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="tools">
                        <div id="PartialSection">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</body>
</html>
