@model IEnumerable<DSRCManagementSystem.Models.MeetingSchedule>
@{
    ViewBag.Title = "Meeting Schedule";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section AddToHead
{
    <link href="../../Content/Template/js/select2/select2-bootstrap.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/js/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/font-icons/font-awesome/css/font-awesome.min.css"
        rel="stylesheet" type="text/css" />
    <link href="../../Content/Plugins/bootstrap-datetimepicker/css/bootstrap-datepicker.css"
        rel="stylesheet" type="text/css" />
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.js"
        type="text/javascript"></script>
    <script src="../../Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Content/bootstrap/bootbox.min.js" type="text/javascript"></script>

     <style>
        .dropdown-menu {
    background-color: white;
               }
        </style>
}
@{
    int SNO = 1;
    
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUser</title>
    <style type="text/css">
        textarea
        {
            resize: none;
        }
    </style>
</head>
<body>
    <ol class="breadcrumb bc-3">
        <li class="active"><strong>Meeting Schedule</strong></li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-shadow" data-collapsed="0">
                <!-- panel head -->
                <div class="panel-heading">
                    <div class="panel-title" color="White">
                       Meeting Schedule </div>
                </div>
                <div>


                  @*<div class="row" >
                  <div class="col-md-3">
                    <div class="form-group">
                       <label class="col-sm-3 control-label">
                   &nbsp;&nbsp; Week  @Html.Label(" ", new { @style = "color:#FF0000" })                
                     </label> 
                      @Html.DropDownList("Week", ViewBag.Week as SelectList, new { @id = "Week", @name = "Week", @class = "form-control" })
                     <span id="span_ID9" style="color: Red;"></span>
                   </div>
                   </div>
                </div>  *@






                 </div>
                <!-- panel body -->
                <div class="panel-body">
                    <div class="btn-group" style="float: right" id="AddNewProject">
                        <button type="button" class="btn btn-blue" style="font-weight: bold" onclick='AddMeeting()'>
                            Add New  Schedule<i class="entypo-user-add"></i>
                            <br />
                    </div>

                    <br /> <br /> <br />

                    @using (Html.BeginForm("MeetingSchedule", "ProjectMapping", FormMethod.Post))
                    { 
                        <table class="table table-bordered datatable" id="tblMeeting">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">
                                        S.No
                                    </th>
                                    <th style="text-align:center;">
                                        @Html.DisplayNameFor(i => i.Day)
                                    </th>
                                     <th style="text-align:center;">
                                        @Html.DisplayNameFor(i => i.Date)
                                    </th>
                                   @* <th>
                                        @Html.DisplayNameFor(i => i.Week)
                                    </th>
                                   *@
                                  
                                    <th style="text-align:center;">
                                        @Html.DisplayName("Project Name")
                                    </th>
                                    <th style="text-align:center;">
                                        @Html.DisplayNameFor(i => i.From)
                                    </th>
                                    <th style="text-align:center;">
                                        @Html.DisplayNameFor(i => i.To)
                                    </th>
                                    <th style="text-align:center;">
                                        @Html.DisplayNameFor(i => i.Attendees)
                                    </th>
                                    <th style="text-align:center;">
                                        @Html.DisplayNameFor(i => i.Agenda)
                                    </th>
                                    <th style="text-align:center;">
                                        @Html.DisplayNameFor(i => i.Feedback)
                                    </th>
                                </tr>
                            </thead>
                            @{
                        int? week = @Model.ToList()[0].Week;
                                <tr>
                                    <td colspan="10" style="text-align: center; height: 50px; color: Blue">
                                        <span><b>WEEK @Model.ToList()[0].Week</b></span>
                                    </td>
                                </tr>
                        foreach (var item in Model)
                        {
                            if (item.Week != week)
                            {
                                week = item.Week;   
                                                     
                                <tr>
                                    <td colspan="10" style="text-align: center; height: 50px; color: Blue">
                                        <span><b>WEEK @week</b></span>
                                    </td>
                                </tr>
                            }
                          
                                <tr>
                                    <td style="text-align: center;">
                                        @(SNO++)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.Day)
                                    </td>
                                     <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td style="text-align: left;">
                                        @Html.DisplayFor(modelitem => item.Project)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelitem => item.From)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.To)
                                    </td>
                                    <td style="text-align:left;">
                                        @Html.DisplayFor(modelitem => item.Attendees)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelitem => item.Agenda)
                                        <a>
                                            <button type="button" class="btn btn-info btn-icon icon-left" onclick='AddProjectAgenda(@item.ProjectID)' >
                                                <i class="entypo-info"></i>Agenda
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.Feedback)
                                        <a>
                                            <button type="button" class="btn btn-info btn-icon icon-left" onclick='AddFeedBack(@item.ProjectID)' >
                                                <i class="entypo-info"></i>Feedback
                                            </button>
                                        </a>
                                    </td>
                                    @*  <td>
                                  <a>
                              <button type="button" class="btn btn-info btn-icon icon-left" OnClick= 'Delete()' >
                              <i class="entypo-info" ></i> Delete
                              </button>
                              </a>  
                                </td>*@
                                </tr>
                       

                        }
                            }
                        </table>

                            
                           
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade in" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="tools">
                <div id="PartialSection">
                </div>
            </div>
        </div>
    </div>
 
        <script type="text/javascript">
            function AddMeeting() {
                $.ajax({
                    url: "../../ProjectMapping/ProjectMeeting/",
                    type: 'GET', cache: false,
                    success: function (result) {
                        $('#PartialSection').html(result);
                        $('#portlet-config').appendTo("body").modal({ backdrop: 'static', keyboard: false });

                    }

                });

            }

            function AddFeedBack(id) {
                $.ajax({
                    url: "../../ProjectMapping/ProjectFeedBack/" + id,
                    type: 'GET', cache: false,
                    success: function (result) {
                        $('#PartialSection').html(result);
                        $('#portlet-config').appendTo("body").modal({ backdrop: 'static', keyboard: false });

                    }

                });

            }


            function AddProjectAgenda(id) {
                $.ajax({
                    url: "../../ProjectMapping/ProjectAgenda/" + id,
                    type: 'GET', cache: false,
                    success: function (result) {
                        $('#PartialSection').html(result);
                        $('#portlet-config').appendTo("body").modal({ backdrop: 'static', keyboard: false });

                    }

                });

            }       
        </script>
</body>
</html>
