@model DSRCManagementSystem.Models.UserModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewUser</title>
    <link href="../../Content/Template/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css"
        rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/entypo.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/animation.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"
        id="style-resource-4" />
    <link href="../../Content/Template/css/custom.css" rel="stylesheet" type="text/css" />
    <style>
       .dropdown-menu {
    background-color: white;
          }  
        </style>

</head>
<body>
    <div class="modal-content">
        <div class="modal-header" style="background-color: #f0f0f1;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×</button>
            <h4 class="modal-title">
                Edit Employee
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("NewUser", "User", FormMethod.Post))
            { 
                <div class="row">
                    <div class="col-md-12" style="text-align: right">
                        @Html.Label("*", new { @style = "color:#FF0000" }) Required field(s)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.EmpID, new { @class = "control-label" })
                            <b>@Html.Label("*", new { @style = "color:#FF0000" })</b>
                            @Html.TextBoxFor(x => x.EmpID, new { @id = "EmpID", @name = "EmpID", @class = "form-control", @placeholder = Resources.Resource.DN_ProfileModel_EmpID, @autocomplete = "off", @maxlength = "10", @readonly = "readonly", @disabled = "disabled" })
                            <span id="span_ID" style="color: Red;"></span><span id="span_ID6" style="color: Red;">
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.RoleName, new { @class = "control-label" })
                            <b>@Html.Label("*", new { @style = "color:#FF0000" })</b>
                            @Html.DropDownList("RoleID", ViewBag.RoleIdList as SelectList, new { @id = "RoleID", @name = "RoleID", @class = "form-control" })
                            <span id="span_Role" style="color: Red;"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.DateOfJoin, new { @class = "control-label" })
                            <b>@Html.Label("*", new { @style = "color:#FF0000" })</b>
                            @Html.TextBoxFor(x => x.DateOfJoin, "{0:MM/dd/yyyy}", new { @id = "DateOfJoin", @name = "DateOfJoin", @class = "form-control datetimepicker", @placeholder = Resources.Resource.DN_ProfileModel_DateofJoin, @autocomplete = "off" })
                            <span id="span_ID2" style="color: Red;"></span>
                        </div>
                    </div>
                   @* <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.GenderID, new { @class = "control-label" })
                            <b>@Html.Label("*", new { @style = "color:#FF0000" })</b>
                            @Html.DropDownList("GenderName", ViewBag.GenderList as SelectList, new { @id = "GenderID", @name = "GenderName", @class = "form-control" })
                            <span id="span_Gender" style="color: Red;"></span>
                        </div>
                    </div>*@
                     <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.GenderID, new { @class = "control-label" })
                            <b>@Html.Label("*", new { @style = "color:#FF0000" })</b>
                            @Html.DropDownList("GenderName", ViewBag.GenderList as SelectList, new { @id = "GenderID", @name = "GenderName", @class = "form-control" })
                            <span id="span_Gender" style="color: Red;"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.FirstName, new { @class = "control-label" })
                            <b>@Html.Label("*", new { @style = "color:#FF0000" })</b>
                            @Html.TextBoxFor(x => x.FirstName, new { @id = "FirstName", @name = "FirstName", @class = "form-control", @placeholder = Resources.Resource.DN_ProfileModel_FirstName, @autocomplete = "off", onkeypress = "return Alphabets(event);", @maxlength = "50" })
                            <span id="span_ID1" style="color: Red;"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.LastName, new { @id = "LastName", @name = "LastName", @class = "form-control", @placeholder = Resources.Resource.DN_ProfileModel_LastName, @autocomplete = "off", onkeypress = "return Alphabets(event);", @maxlength = "50" })
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Department",(string)ViewBag.Lbl_department, new { @class = "control-label" })
                            <b>@Html.Label("*", new { @style = "color:#FF0000" })</b>
                            @Html.DropDownList("DepartmentId", ViewBag.DepartmentIdList as SelectList, new { @id = "DepartmentId", @name = "DepartmentId", @class = "form-control" })
                            <span id="span_Department" style="color: Red;"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(x => x.EmailAddress, new { @class = "control-label" })
                            <b>@Html.Label("*", new { @style = "color:#FF0000" })</b>
                            @Html.TextBoxFor(x => x.EmailAddress, new { @id = "EmailAddress", @name = "EmailAddress", @class = "form-control", @placeholder = Resources.Resource.DN_ProfileModel_EmailAddress, @autocomplete = "off", @type = "email", @required = "required", @maxlength = "255", @readonly = "readonly", @disabled = "disabled" })
                            <span id="span_ID3" style="color: Red;"></span><span id="span_ID4" style="color: Red;">
                            </span><span id="span_EmailDomain" style="color: Red;"></span>
                        </div>
                    </div>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" id="btnAdd" class="btn btn-info" onclick="UpdateUser()">
                        Save
                    </button>
                </div>
            }
        </div>
    </div>
    <div class="modal fade in" id="portlet-config1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="tools">
                <div id="PartialSection">
                    <div id="LoaderContent" style="height: 100%;">
                        <img src="../../Content/Template/images/finalloader.GIF" style="margin-left: 43%;
                            margin-top: 40%;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function UpdateUser() {
            if (document.getElementById('EmpID').value == '' && document.getElementById('FirstName').value == '' && document.getElementById('EmailAddress').value == '' && document.getElementById('DateOfJoin').value == '' && document.getElementById('RoleID').value == '0' && document.getElementById('GenderID').value == '0' && document.getElementById('DepartmentId').value == '0') {
                document.getElementById("span_ID").innerHTML = "Enter Employee ID";
                document.getElementById("span_ID1").innerHTML = "Enter First Name ";
                document.getElementById("span_ID2").innerHTML = "Enter Date Of Join";
                document.getElementById("span_ID3").innerHTML = "Enter Email Address";
                document.getElementById("span_Role").innerHTML = "Select Role Name";
                document.getElementById("span_Gender").innerHTML = "Select Gender";
                document.getElementById("span_Department").innerHTML = "Select Department";
            }
            else {

                if (document.getElementById('EmpID').value == '' || document.getElementById('FirstName').value == '' || document.getElementById('EmailAddress').value == '' || document.getElementById('DateOfJoin').value == '' || document.getElementById('RoleID').value == '0' || document.getElementById('GenderID').value == '0' || document.getElementById('DepartmentId').value == '0') {
                    if (document.getElementById('EmpID').value == '')
                        document.getElementById("span_ID").innerHTML = "Enter Employee ID";
                    else
                        document.getElementById("span_ID").innerHTML = "";
                    if (document.getElementById('RoleID').value == '0')
                        document.getElementById("span_Role").innerHTML = "Select Role Name";
                    else
                        document.getElementById("span_Role").innerHTML = "";
                    if (document.getElementById('FirstName').value == '')
                        document.getElementById("span_ID1").innerHTML = "Enter First Name ";
                    else
                        document.getElementById("span_ID1").innerHTML = "";
                    if (document.getElementById('DateOfJoin').value == '')
                        document.getElementById("span_ID2").innerHTML = "Enter Date Of Join";
                    else
                        document.getElementById("span_ID2").innerHTML = "";
                    if (document.getElementById('GenderID').value == '0')
                        document.getElementById("span_Gender").innerHTML = "Select Gender";
                    else
                        document.getElementById("span_Gender").innerHTML = "";
                    if (document.getElementById('DepartmentId').value == '0')
                        document.getElementById("span_Department").innerHTML = "Select Department";
                    else
                        document.getElementById("span_Department").innerHTML = "";
                    if (document.getElementById('EmailAddress').value == '')
                        document.getElementById("span_ID3").innerHTML = "Enter Email Address";
                    else
                        document.getElementById("span_ID3").innerHTML = "";
                }
                else {
                    var DateOfJoin = $('#DateOfJoin').val();
                    var parts = DateOfJoin.split("/");
                    var dt = new Date(parseInt(parts[2], 10),
                    parseInt(parts[1], 10) - 1,
                    parseInt(parts[0], 10));
                    var temp = document.getElementById('DateOfJoin').value;
                    var values =
            {
                "EmpID": $("#EmpID").val(),
                "RoleID": $("#RoleID").find("option:selected").val(),
                "RoleName": $("#RoleID").find("option:selected").text(),
                "DepartmentId": $("#DepartmentId").find("option:selected").val(),
                "DepartmentName": $("#DepartmentId").find("option:selected").text(),
                "GenderID": $("#GenderID").find("option:selected").val(),
                "GenderName": $("#GenderID").find("option:Selected").text(),
                "FirstName": $("#FirstName").val(),
                "LastName": $("#LastName").val(),
                "DateOfJoin": temp,
                "EmailAddress": $("#EmailAddress").val()
            }
                    var opts = {
                        "closeButton": true,
                        "debug": false,
                        "positionClass": "toast-top-right",
                        "toastClass": "White",
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "2000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }

                    $.ajax({
                        url: "../../User/EditUser/",
                        type: 'POST',
                        cache: false,
                        data: values,
                        success: function (result) {
                            alert(result);

                            if (result === "Success") {
                                $("#portlet-config").modal("hide");
                                toastr.success("User details has been updated successfully", opts);
                                ReloadGrid();
                            }
                        }
                    });
                }
            }
        }
 
    </script>
    <script type="text/javascript">
        function Alphabets(nkey) {
            var keyval
            if (navigator.appName == "Microsoft Internet Explorer") {
                keyval = window.event.keyCode;
            }
            else if (navigator.appName == 'Netscape') {
                nkeycode = nkey.which;
                keyval = nkeycode;
            }
            //For A-Z
            if (keyval >= 65 && keyval <= 90) {
                return true;
            }
            //For a-z
            else if (keyval >= 97 && keyval <= 122) {
                return true;
            }
            //For Backspace
            else if (keyval == 8) {
                return true;
            }
            //For General
            else if (keyval == 0) {
                return true;
            }
            //For Space
            else if (keyval == 32) {
                return true;
            }
            else {
                return false;
            }
        } 


    </script>
</body>
</html>
