@model DSRCManagementSystem.Models.UserLoginModel
@{
    ViewBag.Title =  " "+Model.company+" | Login";
    Layout = null;
}
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all"
        rel="stylesheet" type="text/css">
    <link href="../../Content/Login/global/plugins/font-awesome/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
    <link href="../../Content/Login/global/plugins/simple-line-icons/simple-line-icons.min.css"
        rel="stylesheet" type="text/css">
    <link href="../../Content/Login/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        type="text/css">
    <link href="../../Content/Login/global/plugins/uniform/css/uniform.default.css" rel="stylesheet"
        type="text/css">
    <link href="../../Content/Login/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"
        rel="stylesheet" type="text/css">
    <link href="../../Content/Login/global/plugins/select2/select2.css" rel="stylesheet"
        type="text/css">
    <link href="../../Content/Login/global/css/login.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Login/global/css/components.css" rel="stylesheet" type="text/css">
    <link href="../../Content/Login/global/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="../../Content/Login/global/css/layout.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico">

    <style>
       .dropdown-menu {
    background-color: white;
          }  
        </style>

</head>

<body class="login">
   @* <div class="logo">
    </div>
    <div class="menu-toggler sidebar-toggler">
    </div>*@
    <div style="height:100px" ></div>
    <div class="content">
        <div class="logo">
          <img src= "@Session["LoginLogo"]" width="100px" height="100px" />
             
        </div>





        @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
        {
            
            <form class="forget-form" action="index.html" method="post" novalidate="novalidate" padding style="padding-top:500px">
            <h3>
                Forgot Password?</h3>
            <p>
                <h5>
                    Enter your User Name to reset your password
                </h5>
            </p>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">
                    User name</label>
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    @Html.TextBoxFor(o => o.Email, new {id="Email", @class = "form-control placeholder-no-fix", @autocomplete = "off", @placeholder = "User Name" }) @*Resources.Resource.DN_UserModels_UserName*@
                    @if (ViewBag.msg != null)
                    {
                       <span id="Mail" style="color: Red;"></span>
                    }
                    else
                    {
                        <span id="Mail" style="color: Red;"></span>
                    }
                    
                </div>
                
              @*  @Html.ValidationMessageFor(o => o.Email, "", new { style = "color:red;" })*@
                @Html.HiddenFor(o => o.ResetPasswordKey)
            </div>
            @if (ViewBag.PasswordSent == null)
            {
                <div class="form-actions">
                    <button type="button" id="back-btn" class="btn" onclick=" location.href = '@Url.Action("Login", "User")' ">
                        <i class="m-icon-swapleft"></i>Back
                    </button>
                    <button type="button" class="btn green pull-right" id="forget-next" onclick=" test() ">
                        Submit <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
            }
            else
            {
                <p style="color:  green;">
                    Password has been sent to your e-mail address.<br/>Please click <a href='@Url.Action("Login", "User")' id="forget-password" style='color: Blue;'>
                        here </a>to login.
                </p>
            }
            </form>
        }
        <div class="form-actions">
            <label class="checkbox">
            </label>
        </div>
    </div>
    <div class="copyright">
        2016 ©  @Model.company
    </div>
    <div class="modal fade in" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="tools">
                <div id="PartialSection">
                    <div id="LoaderContent" style="height: 100%;">
                        <img src="../../Content/Template/images/finalloader.GIF" style="margin-left: 43%;
                            margin-top: 50%;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../Content/Login/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="../../Content/Login/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="../../Content/Login/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js"
        type="text/javascript"></script>
    <script src="../../Content/Login/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Content/Login/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
   @* <script src="../../Content/Login/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        type="text/javascript"></script>*@
    <script src="../../Content/Login/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../../Content/Login/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="../../Content/Login/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="../../Content/Login/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"
        type="text/javascript"></script>
    <script src="../../Content/Login/global/plugins/jquery-validation/js/jquery.validate.min.js"
        type="text/javascript"></script>
    <script type="text/javascript" src="../../Content/Login/global/plugins/select2/select2.min.js"></script>
    <script src="../../Content/Login/global/scripts/metronic.js" type="text/javascript"></script>
      <script src="../../Content/Template/js/toastr.js" type="text/javascript"></script>
      <script src="../../Content/JS/ToasterAlert.js" type="text/javascript"></script>
    <script type="text/javascript">

        jQuery(document).ready(function () {
            
           
            Metronic.init();
            jQuery('.reset-password').hide();
        });

        jQuery('#forget-next').click(function () {
            jQuery('.reset-password').show();

        });

        jQuery('#back-btn-reset').click(function () {
            jQuery('.reset-password').hide();
        });








        function test() {
            var email = $("#Email").val();
           // alert(document.getElementById('Email').value);
            
            if (document.getElementById('Email').value == 0) {
            document.getElementById("Mail").innerHTML = "Enter the User Name";
            }

            else
            {
                
                //var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                //if (re.test(email)) {
                    document.getElementById("Email").innerHTML = "";
                    $.ajax({
               
                        url: "../../User/BlockUsers/",
                        data:
                            {
                                "email": $("#Email").val(),
                            },
                        success: function (result) {
                        
                            if (result == "OverAttempts") {

                                document.getElementById("Mail").innerHTML = "Your Account is Disabled Please Contact Administration";
                            }
                            else if(result == "Empty")
                            {
                                document.getElementById("Mail").innerHTML = "Enter Valid User Name";
                            }
                            else if(result =="LessAttempts")
                            {
                                $.ajax({

                                    url: "../../User/ForgotPassword/",
                                    type: 'POST',
                                    data: { UserName: email },
                                    success: function (result) {
                                        window.location.href = '@Url.Action("ForgotPasswordMessage","User")'
                                      //  window.location = '@Html.Raw(System.Web.Configuration.WebConfigurationManager.AppSettings["SeverName"] + "User/ForgotPasswordMessage")';
                                        }
                                });
                                //window.location.href = '@Url.Action("ForgotPassword","User",FormMethod.Post)'
                            }
                            else
                            {
                                $.ajax({

                                    url: "../../User/ForgotPassword/",
                                    type: 'POST',
                                    data: { UserName: email },
                                    success: function (result) {
                                      window.location.href = '@Url.Action("ForgotPasswordMessage","User")'

                                  //  window.location = '@Html.Raw(System.Web.Configuration.WebConfigurationManager.AppSettings["SeverName"] + "User/ForgotPasswordMessage")';
                                     }
                                    
                                });
                               // window.location.href = '@Url.Action("ForgotPassword","User",FormMethod.Post)'
                            }
                        }
                    });
                }
                    
                
                //else {
                  //  document.getElementById("Mail").innerHTML = "Enter Valid UserName";
                //}
           // }
        }

    </script>


   


    <span role="status" aria-live="polite" class="select2-hidden-accessible"></span>
</body>
</html>
