@{
    ViewBag.Title = "Reports Permission";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
     .dropdown-menu {
    background-color:white;
}
        </style>
@section AddToHead
{
    <link href="../../Content/Template/js/select2/select2-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/js/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/font-icons/font-awesome/css/font-awesome.min.css"
          rel="stylesheet" type="text/css" />
    <link href="../../Content/Plugins/bootstrap-datetimepicker/css/bootstrap-datepicker.css"
          rel="stylesheet" type="text/css" />
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.js"
            type="text/javascript"></script>
    <script src="../../Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Content/bootstrap/bootbox.min.js" type="text/javascript"></script>

    <style>
        .abc {
            background-color: #ffb3b3;
        }
    </style>
    <style type="text/css">
        table td:nth-child(2) {
            word-wrap: break-word;
            word-break: break-all;
        }

        table td:nth-child(3) {
            word-wrap: break-word;
            word-break: break-all;
        }

        body {
            overflow-y: auto;
        }
    </style>
}
@*<ol class="breadcrumb bc-3">
    <li>
        <a href="@Url.Action("Dashboard","CustomReports")">
            <i class="fa-home1"></i>Custom Reports
        </a>
    </li>
    <li class="active"><strong>Reports Permission</strong> </li>
</ol>*@
    <p>
        <a href="@Url.Action("Dashboard","CustomReports")"style="color:black ">
            Custom Reports
        </a>
          &#160;<img src="~/Images/righ-arrow.png" />&#160;
        <b>Reports Permission</b>
    </p>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-shadow" data-collapsed="0">

            <div class="panel-heading">
                <div class="panel-title" color="White">
                   Reports Permission
                </div>
            </div>

            <div class="panel-body">
                @using (Html.BeginForm("ReportsPermission", "CustomReports", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-12" style="text-align: right">
                            @Html.Label("*", new { @style = "color:#FF0000" }) Required field(s)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("User Name", new { @class = "control-label" })
                                @Html.Label("  *", new { @style = "color:red;font-weight:bold;" })
                                @Html.DropDownList("from", (MultiSelectList)ViewBag.UnAuthorizedUsers, new { @name = "from", @class = "form-control", @id = "multiselect", @multiple = "multiple", @size = "8", @style = "height:200px" })
                                <span id="spanmultiselect" style="color:Red"></span>
                            </div>
                        </div>

                        <div class="col-md-4" style="text-align: center">
                            <br /><br /><br /><br /><br />
                            <button type="button" id="multiselect_rightSelected" class="btn btn-block">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                            <button type="button" id="multiselect_leftSelected" class="btn btn-block">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                            </button>
                        </div>
                        <div class="col-xs-4"> 
                            <div class="form-group">
                                @Html.Label("Authorized Users", new { @class = "control-label" })
                                @Html.Label(" *", new { @style = "color:#FF0000" })
                                <select name="to" id="multiselect_to" class="form-control" multiple="multiple"  style="height:200px">
                                    @if (ViewBag.AuthorizedUsers != null)
                                    {
                                        foreach (var user in ViewBag.AuthorizedUsers)
                                        {
                                            <option value="@user.Value">@user.Text</option>
                                        }
                                    }
                                </select>
                                <span id="spanmultiselect_to" style="color:Red"></span>
                            </div>
                        </div>
                    </div>
                }
                <div style="float:right">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ClearSelection()">
                        Clear
                    </button>
                    <button type="submit" id="btnAdd" class="btn btn-info" onclick="Access()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="../../Content/Template/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>
    <script src="../../Content/bootstrap/bootbox.min.js" type="text/javascript"></script>
    <script src="../../Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Content/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/toastr.js" type="text/javascript"></script>
    <script src="../../Completion/multiselect.min.js" type="text/javascript"></script>
    <script src="../../Completion/3.34.js" type="text/javascript"></script>
    <script src="../../Completion/multiselect.js" type="text/javascript"></script>

    <script type="text/javascript">

        
        $(document).ready(function () {
            $('#multiselect').multiselect();
        });
        
        $('#multiselect').multiselect({


                startUp: function ($left, $right) {

                    $right.find('option').each(function (index, option) {
                        $left.find('option[value="' + option.value + '"]').remove();
                    });
                },
                beforeMoveToRight: function ($left, $right, options) { return true; },
                afterMoveToRight: function ($left, $right, options) { },
                beforeMoveToLeft: function ($left, $right, option) { return true; },
                afterMoveToLeft: function ($left, $right, option) { },
                sort: function (a, b) {

                    if (a.innerHTML == 'NA') {
                        return 1;
                    } else if (b.innerHTML == 'NA') {
                        return -1;
                    }
                    return (a.innerHTML > b.innerHTML) ? 1 : -1;
                }
            });

    </script>
    <script type="text/javascript">
        function Access() {            
                $("#multiselect_to option").prop("selected", "selected");
                
                    var from = $("#multiselect").val();
                    var to = $("#multiselect_to").val();
                      
                var opts = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-right",
                    "toastClass": "White",
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "2000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                if (document.getElementById('multiselect_to').value == '') {
                    document.getElementById("spanmultiselect_to").innerHTML = "Assign User";
                }
                else {
                    document.getElementById("spanmultiselect_to").innerHTML = "";
                    $.ajax({
                        url: "@Url.Action("ReportsPermission", "CustomReports")",
                        type: "POST",
                        data: { From: from, To: to },
                        traditional: true,
                        //global: false,
                        success: function (result) {
                            if (result == "Authorize") {
                                toastr.success("Users Authorized", opts);
                                setTimeout(function () { location.reload(); }, 1000);
                            }
                            else if (result == "UnAuthorize") {
                                toastr.success("Users UnAuthorized", opts);
                                setTimeout(function () { location.reload(); }, 1000);
                            }
                        }
                    });
                }
        }
        function ClearSelection() {
            $("#multiselect option:selected").removeAttr("selected");
            $("#multiselect_to option:selected").removeAttr("selected");
        }
    </script>
}
