@model DSRCManagementSystem.Models.AddPhaseEdit

@{
  
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProjectMeeting</title>

    <link href="../../Content/Template/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css"
        rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/entypo.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/animation.css" rel="stylesheet"
        type="text/css" />
         <script src="../../Content/Plugins/bootstrap-datetimepicker/js/moment.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"
        id="style-resource-4" />
         <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>
    <link href="../../Content/Template/css/neon.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/custom.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/en-gb.js" type="text/javascript"></script>
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/moment.js" type="text/javascript"></script>
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.js"
        type="text/javascript"></script>
    <link href="../../Content/Plugins/bootstrap-datetimepicker/css/bootstrap-datepicker.css"
        rel="stylesheet" type="text/css" />
<link href="../../Content/Template/js/select2/select2-bootstrap.css" rel="stylesheet"
    type="text/css" />
<link href="../../Content/Template/js/select2/select2.css" rel="stylesheet" type="text/css" />
<script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>

    <style>
       .dropdown-menu {
    background-color: white;
          }  
        </style>

</head>
<body>
    <div class="modal-content">
        <div class="modal-header" style="background-color: #f0f0f1;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×</button>
            <h4 class="modal-title">
                Edit Phase </h4>
        </div>
 
     <div class="modal-body">

            @using (Html.BeginForm("AddNewPhaseEdit", "TSR", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-12" style="text-align: right">
                        @Html.Label("*", new { @style = "color:#FF0000" }) Required field(s)
                        @Html.HiddenFor(model => model.PhaseId, new { @id = "ID" })
                    </div>
                </div>
                
                 <div class="row" >

                   <div class="col-md-6">
                   <div class="form-group">
                @Html.Label("Project Name", new { @class = "control-label" })
                @Html.Label("*", new { @style = "color:#FF0000" })
                @Html.DropDownList("ProjectId", ViewBag.ProjectList as SelectList, "--Select--", new { @id = "ProjectName", @class = "select2-container select2-container-multi select2 visible", @disabled = "disabled" })
                <span id="span_ID6" style="color: Red;"></span>
                   </div>
                </div> 
             
                
              
              <div class="col-md-6">  
                     <div class="form-group">
                    
                      @Html.Label("Phase Name ", new { @class = "control-label" })    
                      @Html.Label("*", new { @style = "color:#FF0000" })              
                      @Html.TextBoxFor(x => x.PhaseName, new { @name = "PhaseName", @id = "PhaseName", @class = "form-control", @maxlength = 50, @style = "Height:42Px" }) 
                       <span id="span_ID11" style="color: Red;"></span>
                    
                      </div>
                      </div>
                    
</div>
                 
                               
                  <div class="row">
                   



                    <div class="col-md-6">  
                      <div class="form-group">
                      @Html.Label("Phase Status", new { @class = "control-label" })
                      @Html.Label("*", new { @style = "color:#FF0000" })
                      @Html.DropDownList("PhaseStatusId", ViewBag.PhaseName as SelectList, "--Select--", new { @id = "PhaseStatus", @class = "select2-container select2-container-multi select2 visible", @disabled = "disabled" })            
                     <span id="span_ID7" style="color: Red;"></span>
                      </div>

                   
                      @* <span id="span_ID14" style="color: Red;"></span>*@
                      </div>


                    <div class="col-md-6">  
                     <div class="form-group">
                      @Html.Label(" No Of Efforts", new { @class = "control-label" })    
                      @Html.Label("*", new { @style = "color:#FF0000" })              
                      @Html.TextBoxFor(x => x.NumberOfEfforts, new { @name = "Efforts", @id = "Efforts", @class = "form-control", @maxlength = 3, @style = "Height:42Px" }) 
                     <span id="span_ID10" style="color: Red;"></span>
                      </div>
                      </div>

                      </div>
                
                 <div class="row">
                   
                    <div class="col-md-6">  
                     <div class="form-group">
                      @Html.Label("Start Date", new { @class = "control-label" })    
                      @Html.Label("*", new { @style = "color:#FF0000" })              
                      @Html.TextBoxFor(x => x.Start, new { @name = "StartDate", @id = "StartDate", @class = "form-control datetimepicker", @style = "Height:42Px" }) 
                     <span id="span_ID8" style="color: Red;"></span>
                      </div>
                      </div>
                    




                       <div class="col-md-6">  
                     <div class="form-group">
                      @Html.Label("End Date", new { @class = "control-label" })    
                      @Html.Label("*", new { @style = "color:#FF0000" })              
                      @Html.TextBoxFor(x => x.End, new { @name = "EndDate", @id = "EndDate", @class = "form-control datetimepicker", @maxlength = 50, @style = "Height:42Px" }) 
                     <span id="span_ID9" style="color: Red;"></span>
                      </div>
                      </div>
                      </div>
               
                
                <div class="row">

                 <div class="col-md-6">
                   <div class="form-group">
                @Html.Label("Is Open", new { @class = "control-label" })
                @Html.Label("*", new { @style = "color:#FF0000" })
                @Html.DropDownList("OpenId", ViewBag.IsOpen as SelectList, new { @id = "IsOpen", @class = "form-control", @maxlength = 999, @style = "Height:42Px" })
                <span id="span_ID15" style="color: Red;"></span>
                   </div>
                   </div>
                    
                     <div class="col-md-6">  
                     <div class="form-group">
                    
                     @* @Html.Label("Phase Name ", new { @class = "control-label" })    
                      @Html.Label("*", new { @style = "color:#FF0000" })              
                      @Html.TextBoxFor(x => x.PhaseName, new { @name = "PhaseName", @id = "PhaseName", @class = "form-control", @maxlength =50, @style = "Height:42Px" }) *@
                       <span id="span_ID11" style="color: Red;"></span>
                    
                      </div>
                      <span id="span_ID14" style="color: Red;"></span>
                      </div>




                </div>
            }   

             </div>  
             
             
             
                    
              
           
             <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Cancel
            </button>
            <button type="button" id="btnAdd" class="btn btn-info"  onclick='AddNewMeeting()' >
                Save
            </button>
        </div>
      </div>
                
    <div class="modal fade in" id="portlet-config1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="tools">
                <div id="PartialSection">
                    <div id="LoaderContent" style="height: 100%;">
                        <img src="../../Content/Template/images/finalloader.GIF" style="margin-left: 43%;
                            margin-top: 40%;" />
                    </div>
                </div>
            </div>
        </div>
    </div>             

    
 
            <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>   
             <script src="../../Content/JS/ToasterAlert.js" type="text/javascript"></script>
     
       



          <script type="text/javascript">
              var submitform = true;

              $('#EndDate').change(function () {
                  var startDate = $("#StartDate").val();

                  var splitedStartDate = startDate.split("-");
                  var endDate = $("#EndDate").val();

                  var splitedEndDate = endDate.split("-");

                  var startDateTime = new Date(splitedStartDate[2], splitedStartDate[1] - 1, splitedStartDate[0]);

                  var endDateTime = new Date(splitedEndDate[2], splitedEndDate[1] - 1, splitedEndDate[0]);

                  if (startDateTime > endDateTime) {

                      $("#span_ID9").html("End Date should be greater than the Start Date");
                      submitform = false;
                  }
                  else {
                      submitform = true;
                      $("#span_ID9").html('');
                  }
              });




//              $(function () {
//                  $(".modal-body select").select2({
//                      minimumResultsForSearch: -1
//                  });
              //              });

              $(function () {

                  $('select').select2();
              });
        

              $(".datetimepicker").datepicker({
                  format: 'dd-mm-yyyy',
                 // startDate: '+1d',
                  daysOfWeekDisabled: [0, 6],
                  autoclose: true
              });


              $(document).ready(function () {

                  $('#PhaseName').keypress(function (e) {
                      var regex = new RegExp("^[a-zA-Z\\0-9\\-\\.\\,\\'\\*\\(\)\[\\]\\:\\;\\_\\s\\(/)\\$\\&\\*\\|\\(\)\\%]+$");
                      var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                      if (regex.test(str)) {

                          return true;
                      }

                      $("#span_ID11").html("Enter valid Phase Name").show();
                      return false;
                  });
              });



              $("#Efforts").on('paste keypress', (function (e) {
                  var key;
                  if (e.which) {
                      key = String.fromCharCode(e.which);
                  } else {
                      key = e.originalEvent.clipboardData.getData('Text');
                  }
                  var value = $(this).val() + key;
                  if (!/^[0-9]{1,999}$/.test(value)) {
                      e.preventDefault();
                  }
              }));

             






              function AddNewMeeting() {

                  if (submitform == true) {

                      if (document.getElementById('ProjectName').value == '' || document.getElementById('PhaseName').value == '' || document.getElementById('StartDate').value == '' || document.getElementById('EndDate').value == '' || document.getElementById('Efforts').value == '' || document.getElementById('PhaseStatus').value == '' || document.getElementById('IsOpen').value == '') {

                          if (document.getElementById('ProjectName').value == '') {
                              document.getElementById("span_ID6").innerHTML = "Select the project";
                          }
                          else {
                              document.getElementById("span_ID6").innerHTML = "";
                          }
                          if (document.getElementById('PhaseName').value == '') {
                              document.getElementById("span_ID11").innerHTML = "Enter phase name";
                          }
                          else {
                              document.getElementById("span_ID11").innerHTML = "";

                          }
                          if (document.getElementById('StartDate').value == '') {
                              document.getElementById("span_ID8").innerHTML = " Enter phase start date ";
                          }
                          else {
                              document.getElementById("span_ID8").innerHTML = "";

                          }

                          if (document.getElementById('EndDate').value == '') {
                              document.getElementById("span_ID9").innerHTML = " Enter phase end date ";
                          }
                          else {
                              document.getElementById("span_ID9").innerHTML = "";

                          }
                          if (document.getElementById('Efforts').value == '') {
                              document.getElementById("span_ID10").innerHTML = " Enter  no of efforts ";
                          }
                          else {
                              document.getElementById("span_ID10").innerHTML = "";
                          }
                          if (document.getElementById('PhaseStatus').value == '') {
                              document.getElementById("span_ID7").innerHTML = " Enter  phase status ";
                          }
                          else {
                              document.getElementById("span_ID7").innerHTML = "";
                          }
                          if (document.getElementById('IsOpen').value == '') {
                              document.getElementById("span_ID15").innerHTML = " Select  Isopen ";
                          }
                          else {
                              document.getElementById("span_ID15").innerHTML = "";
                          }
                      }

                      else if ($("#Efforts").val() > 999) {
                          document.getElementById('span_ID10').innerHTML = "Enter 3 digit integer characters";
                      }
                      else if ($("#Efforts").val() == 0 || $("#Efforts").val() == 00 || $("#Efforts").val() == 000) {

                          document.getElementById('span_ID10').innerHTML = "No of efforts should be greater than 0";
                      }


                      else {
//                          var startDate = $("#StartDate").val();

//                          var splitedStartDate = startDate.split("-");
//                          var endDate = $("#EndDate").val();

//                          var splitedEndDate = endDate.split("-");

//                          var startDateTime = new Date(splitedStartDate[2], splitedStartDate[1] - 1, splitedStartDate[0]);

//                          var endDateTime = new Date(splitedEndDate[2], splitedEndDate[1] - 1, splitedEndDate[0]);

//                          if (startDateTime > endDateTime) {

//                              $("#span_ID14").html("End Date should be greater than the Start Date");
//                          }



                          

                              //  alert($("#IsOpen").find("option:selected").val());
                              var values =
                           {
                               "PhaseId": $("#ID").val(),

                               "ProjectName": $("#ProjectName").find("option:selected").val(),

                               "PhaseStatus": $("#PhaseStatus").find("option:selected").val(),

                               "IsOpen": $("#IsOpen").val(),

                               "StartDate": $("#StartDate").val(),

                               "EndTime": $("#EndDate").val(),

                               "PhaseName": $("#PhaseName").val(),

                               "NumberOfEfforts": $("#Efforts").val()

                           }

                              var opts =
                       {
                           "closeButton": true,
                           "debug": false,
                           "positionClass": "toast-top-right",
                           "toastClass": "White",
                           "onclick": null,
                           "showDuration": "300",
                           "hideDuration": "1000",
                           "timeOut": "2000",
                           "extendedTimeOut": "1000",
                           "showEasing": "swing",
                           "hideEasing": "linear",
                           "showMethod": "fadeIn",
                           "hideMethod": "fadeOut"
                       }

                              //  $('#portlet-config1').appendTo("body").modal({ backdrop: 'static', keyboard: false });

                              $.ajax({

                                  url: "../../TSR/AddNewPhaseEdit/",
                                  type: 'POST',
                                  cache: false,
                                  data: values,
                                  traditional: true,
                                  global: false,
                                  success: function (result) {

                                      if (result.Result === "Success") {

                                          $('#portlet-config1').appendTo("body").modal({ backdrop: 'static', keyboard: false });
                                          toastr.success(" Phase  updated successfully", opts);
                                          setTimeout(function () { location.reload(); }, 1000);

                                      }

                                      if (result.message == "timeexceed") {

                                          toastr.warning("Already Task(s) added in the given date range" );

                                      }
                                      if (result.Result === "Already") {

                                          toastr.warning("Phase name already exist", opts);
                                          //setTimeout(function () { location.reload(); }, 1000);
                                      }
                                      if (result.Result === "AlreadySame") {

                                          toastr.warning("Phase name already exist", opts);
                                          // setTimeout(function () { location.reload(); }, 1000);
                                      }
                                      if (result === "greater") {
                                          toastr.warning("Task is already assigned. No. of Efforts in Task should not exceeds No. of efforts in Phase");
                                      }
                                  }

                              });

                          

                      }
                  }
              }
         
          </script>
                
       </body>
             </html>