@model DSRCManagementSystem.Models.AssignTaskModel
@{
  
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
    <script src="../../Completion/multiselect.min.js" type="text/javascript"></script>
    <script src="../../Completion/3.34.js" type="text/javascript"></script>
    <script src="../../Completion/multiselect.js" type="text/javascript"></script>
    <link href="../../Content/Template/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css"
        rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/entypo.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/animation.css" rel="stylesheet"
        type="text/css" />
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/moment.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"
        id="style-resource-4" />
    <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>
    <link href="../../Content/Template/css/neon.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/custom.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/en-gb.js" type="text/javascript"></script>
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/moment.js" type="text/javascript"></script>
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.js"
        type="text/javascript"></script>
    <link href="../../Content/Plugins/bootstrap-datetimepicker/css/bootstrap-datepicker.css"
        rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/js/select2/select2-bootstrap.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/js/select2/select2.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>


    <style>
       .dropdown-menu {
    background-color: white;
          }  
        </style>

</head>
<body>
    <div class="modal-content">
        <div class="modal-header" style="background-color: #f0f0f1;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×</button>
            <h4 class="modal-title">
                Employees</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Employees", "TSR", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-12" style="text-align: right">
                        @Html.Label("*", new { @style = "color:#FF0000" }) Required field(s)
                    </div>
                </div>
                
             
                <div class="row">
                    <div class="col-md-4">
                        <div style="text-align: center;">
                            @Html.Label("UnAssigned Employees")
                            @Html.Label("*", new { @style = "color:#FF0000" })
                            @Html.DropDownList("unuserid", (MultiSelectList)ViewBag.unassignemployees, new { @multiple = "multiple", @class = "form-control", @id = "multiselect", @name = "from", @style = "Height:200Px" })
                        </div>
                        @*<select name="to" id="multiselect_to" class="form-control" multiple="multiple" style="height: 200Px">
                        </select>*@ <span id="Emp1" style="color: Red;"></span>
                    </div>
                    <div class="col-md-4" style="text-align: center">
                        <div style="text-align: center;">
                            @Html.Label("")
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <button type="button" id="multiselect_rightSelected" class="btn btn-block">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                        <button type="button" id="multiselect_leftSelected" class="btn btn-block">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Assigned Employees", new { @class = "control-label" })
                            @Html.Label("*", new { @style = "color:#FF0000" })
                            @*@Html.DropDownList("userid", (MultiSelectList)ViewBag.Employees, new { @multiple = "multiple", @class = "form-control", @id = "multiselect", @name = "from", @style = "Height:200Px" })*@
                            <select name="to" id="multiselect_to" class="form-control" multiple="multiple" style="height: 200Px">
                                @*  @for (int i = 0; i < 1;i++ )*@
                                @if (ViewBag.Employees != null)
                                {
                                    foreach (var item in ViewBag.Employees)
                                    {
                                        if (item != null)
                                        { 
                                    <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                }
@*{
                                <option>ViewBag.Employees[i].Employees</option>
                             }*@
                            </select>
                            <span id="Emp" style="color: Red;"></span>
                        </div>
                    </div>
                </div>
                <br /> <br /> 
                           
                
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Cancel
            </button>
           @* <button type="button" id="btnAdd" class="btn btn-info" onclick='AssignTaskNew()'>
                Save
            </button>*@
        </div>
    </div>
    <div class="modal fade in" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="tools">
                <div id="PartialSection">
                    <div id="LoaderContent" style="height: 100%;">
                        <img src="../../Content/Template/images/finalloader.GIF" style="margin-left: 43%;
                            margin-top: 40%;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>
    <script src="../../Content/JS/ToasterAlert.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="../../Content/JS/ToasterAlert.js" type="text/javascript"></script>
    <script src="../../Content/jquery-timepicker-master/jquery.timepicker.js" type="text/javascript"></script>
    <script src="../../Content/jquery-timepicker-master/jquery.timepicker.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#multiselect').multiselect();

        $('#multiselect').multiselect({


            startUp: function ($left, $right) {

                $right.find('option').each(function (index, option) {
                    $left.find('option[value="' + option.value + '"]').remove();
                });
            },
            beforeMoveToRight: function ($left, $right, options) { return true; },
            afterMoveToRight: function ($left, $right, options) { },
            beforeMoveToLeft: function ($left, $right, option) { return true; },
            afterMoveToLeft: function ($left, $right, option) { },
            sort: function (a, b) {

                if (a.innerHTML == 'NA') {
                    return 1;
                } else if (b.innerHTML == 'NA') {
                    return -1;
                }
                return (a.innerHTML > b.innerHTML) ? 1 : -1;
            }
        });

    </script>
    @*
        function AssignTaskNew() {


            if (document.getElementById('ProjectId').value == '' || document.getElementById('PhaseId').value == '' || document.getElementById('TaskName').value == '' || document.getElementById('tasktypeid').value == '' || document.getElementById('Efforts').value == '' || document.getElementById('StartDate').value == '' || document.getElementById('EndDate').value == '' || document.getElementById('multiselect_to').value == '') {

                if (document.getElementById('ProjectId').value == '') {

                    document.getElementById("span_ID6").innerHTML = "Select the project";
                }
                else {
                    document.getElementById("span_ID6").innerHTML = "";
                }
                if (document.getElementById('PhaseId').value == '') {
                    document.getElementById("span_ID7").innerHTML = "Select Phase Name";
                }
                else {
                    document.getElementById("span_ID7").innerHTML = "";

                }
                if (document.getElementById('TaskName').value == '') {
                    document.getElementById("span_ID11").innerHTML = " Select Task Name ";
                }
                else {
                    document.getElementById("span_ID11").innerHTML = "";
                }
                if (document.getElementById('tasktypeid').value == '') {
                    document.getElementById("span_ID0").innerHTML = " Select Task Status";
                }
                else {
                    document.getElementById("span_ID0").innerHTML = "";
                }
                if (document.getElementById('Efforts').value == '') {
                    document.getElementById("span_ID10").innerHTML = " Enter No Of Efforts";
                }
                else {
                    document.getElementById("span_ID10").innerHTML = "";
                }
                if (document.getElementById('StartDate').value == '') {
                    document.getElementById("span_ID8").innerHTML = " Select Start Date ";
                }
                else {
                    document.getElementById("span_ID8").innerHTML = "";

                }

                if (document.getElementById('EndDate').value == '') {
                    document.getElementById("span_ID9").innerHTML = " Select End Date ";
                }
                else {
                    document.getElementById("span_ID9").innerHTML = "";

                }

                if (document.getElementById('multiselect_to').value == '') {

                    document.getElementById("Emp").innerHTML = " Select Employees ";

                }
                else {
                    document.getElementById("Emp").innerHTML = "";
                }

            }


            else {
                var values =

                           {

                               "assigntaskid": $("#assigntaskid").val(),
                               "ProjectId": $("#ProjectId").val(),
                               "ProjectphaseId": $("#PhaseId").val(),
                               "Taskid": $("#TaskName").val(),
                               "userid": $("#multiselect_to").val(),
                               "NumberOfEfforts": $("#Efforts").val(),
                               "StartDate": $("#StartDate").val(),
                               "EndDate": $("#EndDate").val(),
                               "SelectedEmpList": $("#multiselect_to").val(),
                               "tasktypeid": $("#tasktypeid").val()
                           }

                var opts =
                       {
                           "closeButton": true,
                           "debug": false,
                           "positionClass": "toast-top-right",
                           "toastClass": "White",
                           "onclick": null,
                           "showDuration": "300",
                           "hideDuration": "1000",
                           "timeOut": "2000",
                           "extendedTimeOut": "1000",
                           "showEasing": "swing",
                           "hideEasing": "linear",
                           "showMethod": "fadeIn",
                           "hideMethod": "fadeOut"
                       }

                $.ajax({

                    url: "../../AssignTask/AssignNewTask/",
                    type: 'POST',
                    cache: false,
                    data: values,
                    traditional: true,
                    global: false,
                    success: function (result) {

                        if (result == "Success") {

                            $('#portlet-config').appendTo("body").modal({ backdrop: 'static', keyboard: false });
                            toastr.success(" Task assigned successfully", opts);
                            setTimeout(function () { location.reload(); }, 1000);
                        }

                        if (result.message == "Already") {


                            toastr.warning(result.name + " is already assigned to the task on these dates.", opts);

                        }
                    }

                });

            }

        }

              
         
    </script>*@
</body>
</html>
