@model DSRCManagementSystem.Models.Assets
@{
    ViewBag.Title = "Create New Request";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New Request</title>    
    
    <link href="../../Content/Template/js/select2/select2-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/js/select2/select2.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>   
    

    <style type="text/css">
        textarea
        {
            resize: none;
        }        
        #ComputerName
        {
            height: 41px;
        }
        
    </style>


    
      <style>
     .dropdown-menu {
    background-color:white;
}
        </style>
</head>
<body>

<div class="modal-content">        
        
        <div class="modal-header" style="background-color: #f0f0f1;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×</button>
            <h4 class="modal-title">
                Add New Request</h4>
        </div>

        <div class="modal-body" >     

      @using (Html.BeginForm("ViewRequests", "HarwareSoftwareRequest", FormMethod.Post))
      {          
            <div class="row">
               <div class="col-md-12" style="text-align: right">
                  @Html.Label("*", new { @style = "color:#FF0000" }) Required field(s)
               </div>
            </div>
          
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Description, new { @class = "control-label" })
                        <b>@Html.Label("*", new { @style = "color:#FF0000" })</b>
                        @Html.TextAreaFor(x => x.Description, new { @id = "Description", @name = "Description", @class = "form-control", @placeholder = "Request Description", @autocomplete = "off", @style = "height:70px", @maxlength = 1000 })
                        <span id="Description_ID" style="color: Red;"></span>
                    </div>
                </div>
            </div>

            <div class="row"> 
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Location, new { @class = "control-label" })  
                        <b>@Html.Label("*", new { @style = "color:#FF0000" })</b>                      
                        @Html.DropDownList("Location", ViewBag.LocList as SelectList, new { @id = "Location", @name = "Location", @class = "form-control" })                        
                        <span id="Location_ID" style="color: Red;"></span>
                    </div>
                </div>           
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ComputerName, new { @class = "control-label" })                          
                        @Html.TextBoxFor(x => x.ComputerName, new { @id = "ComputerName", @disabled = "disabled", @name = "ComputerName", @class = "form-control", @autocomplete = "off", @maxlength = 100 })                                                
                        @Html.HiddenFor(x => x.ComputerName)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Category, new { @class = "control-label" })
                        <b>@Html.Label("*", new { @style = "color:#FF0000" })</b>
                        @Html.DropDownList("Category", ViewBag.CatList as SelectList, new { @id = "Category", @name = "Category", @class = "form-control" })                        
                        <span id="Category_ID" style="color: Red;"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Status, new { @class = "control-label" })    
                        <b>@Html.Label("*", new { @style = "color:#FF0000" })</b>                    
                        @Html.DropDownList("Status", ViewBag.StatusList as SelectList, new { @id = "Status", @name = "Status", @class = "form-control" })                        
                        <span id="Status_ID" style="color: Red;"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Priority, new { @class = "control-label" })
                        <b>@Html.Label("*", new { @style = "color:#FF0000" })</b>
                        @Html.DropDownList("Priority", ViewBag.PriorList as SelectList, new { @id = "Priority", @name = "Priority", @class = "form-control" })                        
                        <span id="Priority_ID" style="color: Red;"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.AssignedTo, new { @class = "control-label" }) 
                        <b>@Html.Label("*", new { @style = "color:#FF0000" })</b>                      
                        @Html.DropDownList("MngrList", ViewBag.MngrList as SelectList, new { @id = "AssignedTo", @class = "form-control" })   
                        <span id="AssignedTo_ID" style="color: Red;"></span>
                    </div>
                </div>
            </div>           
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal" >
                Cancel
               </button>
               <button type="button" id="btnAdd" class="btn btn-info" onclick="SendRequest_Stage1()" >
                Send
               </button>
            </div>

      }
   </div>
</div>

    <script src="../../Content/JS/ToasterAlert.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/toastr.js" type="text/javascript"></script>
   
    <script type="text/javascript">   

        $(function () {
            
            $("#Location").select2({
                //minimumResultsForSearch: -1
            });
            $("#Category").select2({
                //minimumResultsForSearch: -1
            });
            $("#Status").select2({
                //minimumResultsForSearch: -1
            });
            $("#Priority").select2({ 
                ////minimumResultsForSearch: -1
            });  
                        
            $("#AssignedTo").select2();
      });

        function SendRequest_Stage1() {
                   
            var errorsCount = 0;

            //Description Required Field Validation
            
            if ($("#Description").val() == '') {
                $("#Description_ID").html("Enter Description");                                
                errorsCount++;
            }
            else {
                $("#Description_ID").html("");                
            }

            //Location Required Field Validation

            if ($("#Location").val() == 0) {                
                $("#Location_ID").html("Select Location");                
                errorsCount++;
            }
            else {                
                $("#Location_ID").html("");                
            }

            //Category Required Field Validation

            if ($("#Category").val() == 0) {                
                $("#Category_ID").html("Select Category");                
                errorsCount++;
            }
            else {                
                $("#Category_ID").html("");                
            }

            //Status Required Field Validation

            if ($("#Status").val() == 0) {
                $("#Status_ID").html("Select Status");                
                errorsCount++;
            }
            else {
                $("#Status_ID").html("");                
            }

            //Priority Required Field Validation

            if ($("#Priority").val() == 0) {
                $("#Priority_ID").html("Select Priority");                
                errorsCount++;
            }
            else {
                $("#Priority_ID").html("");                
            }

            //Priority Required Field Validation

            if ($("#AssignedTo").val() == 0) {
                $("#AssignedTo_ID").html("Select Manager Name");                
                errorsCount++;
            }
            else {
                $("#AssignedTo_ID").html("");                
            }


            if (errorsCount == 0) {


                var model =
            {
                "Description": $("#Description").val(),
                "LocationID": $("#Location").find("option:selected").prop("value"),
                "Location": $("#Location").find("option:selected").prop("text"),                
                "ComputerName":$("#ComputerName").val(),
                "CategoryID": $("#Category").find("option:selected").prop("value"),
                "Category": $("#Category").find("option:selected").prop("text"),
                "StatusID": $("#Status").find("option:selected").prop("value"),
                "Status": $("#Status").find("option:selected").prop("text"),
                "PriorityID": $("#Priority").find("option:selected").prop("value"),
                "Priority": $("#Priority").find("option:selected").prop("text"),
                "MngrID": $("#AssignedTo").find("option:selected").prop("value")
            };

                var toastrOptions = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-right",
                    "toastClass": "White",
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                $.ajax({
                    url: "../../HarwareSoftwareRequest/CreateNewRequest/",
                    type: 'POST',
                    cache: false,
                    data: model,
                    success: function (result) {
                        if (result.Result === "Success") {
                            $("#portlet-config").modal('hide');
                            toastr.success("Your hardware software request has been submitted successfully", toastrOptions);
                            setTimeout(function () { // wait 2 seconds and reload
                                window.location.reload(true);
                            }, 1000);
                        }                        
                    }
                });
            }
        }
        
    </script>  
</body>
</html>






