@model DSRCManagementSystem.Models.Skills
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProjectMeeting</title>
    <link href="../../Content/Template/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css"
        rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/entypo.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/animation.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"
        id="style-resource-4" />
    <link href="../../Content/Template/css/custom.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/moment.js" type="text/javascript"></script>
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"
        type="text/javascript"></script>
    <link href="../../Content/Plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
        rel="stylesheet" type="text/css" />
    <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>
    <script src="../../Content/JS/ToasterAlert.js" type="text/javascript"></script>
    <style>
       .dropdown-menu {
    background-color: white;
}        
 </style> 

  
</head>
<body onload="focus">
    <div class="modal-content">
        <div class="modal-header" style="background-color: #f0f0f1;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="javascript:window.location.reload()" >
                ×</button>
            <h4 class="modal-title">Edit Skills</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12" style="text-align: right">
                                    @Html.Label("*", new { @style = "color:#FF0000" }) Required field(s)
                                </div>
                                <div class="col-md-3">
                                    @Html.HiddenFor(model =>model.techId, new { @id = "Id" })
                                    @Html.Label("Technolgy Name")
                                    @Html.Label("*", new { @style = "color:red;font-weight:;" })
                                </div>
                                <div class="col-md-3" style="padding-left:5px">
                                    @Html.Hidden("Id",(int)@ViewBag.Id, new { @id="Id"})
                                  @Html.TextBox("Technology", (string)ViewBag.Technology, new { @name = "Technology", @id = "Technology", @class = "form-control", @style = "Width:200Px",@autofocus="autofocus" })
                              @* @Html.TextBoxFor(model =>model.Technology, new {@autofocus="autofocus", @name = "Technology", @id = "Technology", @class = "form-control" }) *@
                                    <span id="span_Technology" style="color: Red;"></span>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"  >
                    Cancel
                </button>
                <button type="button" id="btnAdd" class="btn btn-info" onclick="Save()">
                    Save
                </button>
            </div>
        </div>
        <div class="modal fade in" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="tools">
                    <div id="PartialSection">
                    </div>
                </div>
            </div>
        </div>
    </div>




      <script type="text/javascript">
        $(function () {
            $(".modal-body select").select2({
                minimumResultsForSearch: -1
            });
            $("#sp").select2();
            $("#roles").select2();
        });

        function focus() {
            document.getElementById("Technology").focus();
        }
        function Save() {

            var FirstName = $("#Technology").val();

            var FirstNametrim = FirstName.replace(/\s/g, "").length;
            if ((FirstNametrim == "")) {
                if (FirstNametrim == "") {
                    document.getElementById("span_Technology").innerHTML = "Enter  Name";
                }
                else {
                    document.getElementById("span_Technology").innerHTML = "";
                }
            }
            else {
                var values =
                           {
                               "techId": $("#Id").val(),
                               "techname": $("#Technology").val(),
                              
                           }
                var opts =
                       {
                           "closeButton": true,
                           "debug": false,
                           "positionClass": "toast-top-right",
                           "toastClass": "White",
                           "onclick": null,
                           "showDuration": "300",
                           "hideDuration": "1000",
                           "timeOut": "2000",
                           "extendedTimeOut": "1000",
                           "showEasing": "swing",
                           "hideEasing": "linear",
                           "showMethod": "fadeIn",
                           "hideMethod": "fadeOut"
                       }

                $.ajax({

                    url: "../../SkillsSpecification/EditTechnology/",
                    type: 'POST',
                    cache: false,
                    data: values,
                    traditional: true,
                    global: false,
                    success: function (result) {

                        if (result == "Success") {
                            toastr.success(" Technology Edited successfully", opts);
                            setTimeout(function () { location.reload(); }, 1000);
                        }
                        if (result == "Warning") {
                            toastr.warning("Technology Already Exist", opts);
                        }
                    }

                });
            }
        }

    </script>
</body>
</html>
