@model DSRCManagementSystem.Models.MailInvitesModel
@{
    ViewBag.Title = "Email Invites";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="../../Content/Template/js/select2/select2-bootstrap.css" rel="stylesheet" />

<link href="../../Content/Template/js/select2/select2.css" rel="stylesheet" type="text/css" />
<link href="../../Content/Template/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css"
    rel="stylesheet" type="text/css" />
@*<link href="../../Content/Template/css/custom.css" rel="stylesheet" type="text/css" />*@
<script src="../../Content/Template/js/jquery.multi-select.js" type="text/javascript"></script>

<script src="../../Content/JS/date.js" type="text/javascript"></script>
<script src="../../Content/Template/js/bootstrap-datepicker.js" type="text/javascript"></script>

<script src="../../Content/Template/js/fileinput.js" type="text/javascript"></script>

<link href="../../Content/Template/js/select2/select2-bootstrap.css" rel="stylesheet"
    type="text/css" />
<link href="../../Content/Template/js/select2/select2.css" rel="stylesheet" type="text/css" />
<link href="../../Content/themes/base/minified/jquery.ui.datepicker.min.css" rel="stylesheet"
    type="text/css" />
<script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>
<script src="../../Content/Template/js/bootstrap-datepicker.js" type="text/javascript"></script>
@*<script src="../../Content/Template/js/raphael-min.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/morris.min.js" type="text/javascript"></script>
    <link href="../../Content/horizontal%20barchart/css/horizBarChart.css" rel="stylesheet"
        type="text/css" />
    <script src="../../Content/horizontal%20barchart/js/jquery.horizBarChart.min.js"
        type="text/javascript"></script>*@


<style type="text/css" id="treeViewStyle">
    #tree {
        width: 350px;
        height: 150px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    /*#btnSubmit {
        float: right;
        margin-right: 490px;
        margin-top: 3px;
    }*/

    ul {
        list-style-type: none;
    }

    .dept {
        margin-left: 60px;
        font-weight: bolder;
    }

    .expand {
        vertical-align: top;
        margin-top: 2px;
        width: 16px;
        height: 16px;
        border: 0;
    }

        .expand:hover {
            cursor: pointer;
        }

    .expandImage {
        background-image: url(../../Images/toggle_plus.png);
        background-repeat: no-repeat;
    }

    .collapseImage {
        background-image: url(../../Images/toggle_minus.png);
        background-repeat: no-repeat;
    }

    #selectedMembers {
        margin-left: 10px;
    }
</style>
<script type="text/javascript">






    $(function () {
        $("input:file").change(function () {
            inputFileChangeRemove();
        });
        $("#btnAdd1,#btnAdd2").click(function () {
            inputFileChangeRemove();
        });
    });
    function inputFileChangeRemove() {

        if ($('input[type=file]').val() != null && $('input[type=file]').val() != "") {
            $("input[type=radio]").attr('disabled', false);
        } else { $("input[type=radio]").attr('disabled', true); }
        var file1 = $("#File1").get(0).files[0]; var file2 = $("#File2").get(0).files[0];
        var file1Bool = false; var file2Bool = false;
        var imgPattern = /^image(.*?)$/i;
        if (file1 != null) { file1Bool = imgPattern.test(file1.type); } else { file1Bool = false; }
        if (file2 != null) { file2Bool = imgPattern.test(file2.type); } else { file2Bool = false; }
        if (!(file1Bool) && !(file2Bool)) {
            $("#MailType1").attr('disabled', true);
            $("#MailType").prop("checked", true);
        } else {
            $("#MailType1").attr('disabled', false);
        }
    }
</script>
<script type="text/javascript">
    function WarningPopUp(message) {
        var opts = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "2000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr.warning(message, null, opts);
    }
</script>
<script type="text/javascript">


    function test(no) {
        
        var control = $("#" + no);
        control.replaceWith(control = control.clone(true));
        control = $("#filedisplay" + no);
        $("#filenew" + no).hide();
        control.text('No file chosen');
        $("#File" + no).val('');
        var val1 = document.getElementById("File1");
        var val2 = document.getElementById("File2");
        if (val1.value == "" && val2.value == "")
            $("input[type=radio]").attr('disabled', true);
        else
            $("input[type=radio]").attr('disabled', false);
    }


    function Check(noa) {
        
        var no = noa - 1;
        var size = $('.file')[no].files[0].size;
        
       
        
        var orginalByte = size / 1024;
        var MB=orginalByte/1024;

        if (MB >= "2") {
            test(noa);
            WarningPopUp('File Size Shoud Not be Greater that 2MB! ');
            return false;
        }


    }





    $(document).ready(function () {


       
        $('#submit').on('click', function () {
           
            $('#MailType').prop('checked', true);
            $('#defaultSignature').prop('checked', false);
            $("#MailType").prop('disabled', true);
            $("#MailType1").prop('disabled', true);
            $("#Department").find("option:selected").val(),
            $("#DepGroup").find("option:selected").val()

            

            var Department = $("#DepartmentID").find("option:selected").val();




            //var selectedMember = $('#selectedMembers:checked:first');
            var Department = $("#DepartmentID").find("option:selected").val();

            //var Groupid = $("#DepGroup").find("option:selected").val();
            //var Group = $("#DepGroup").find("option:selected").val();
            var messsageToSend = $('#message').val();
            var SubjectToSend = $('#subject').val();
            var UserList = $("#ManagedBy").find("option:selected").val();
            if (Department == "") {
                WarningPopUp('Please enter the Department.');
                return false;
            }
            if (SubjectToSend == "") {
                WarningPopUp('Please enter the subject.');
                return false;
            }
            if (messsageToSend == "") {
                WarningPopUp('Please enter the message.');
                return false;
            }




            if (UserList == "") {
                WarningPopUp('Please select the Members.');
                return false;
            }


            if ($("#filedisplay1").text() !== "" && $("#filedisplay2").text() !== "" && $("#filedisplay1").text() === $("#filedisplay2").text()) {
                WarningPopUp("Same file cannot be attached twice.");
                return false;
            }

            $('.expand').click(function () {
                $(this).toggleClass('expandImage');
                $(this).toggleClass('collapseImage');
                $(this).parent().find('ul').slideToggle();
            });

            $.extend($.expr[':'], {
                unchecked: function (obj) {
                    return ((obj.type == 'checkbox' || obj.type == 'radio') && !$(obj).is(':checked'));
                }
            });






            var items = [];




            var opts =
                              {
                                  "closeButton": true,
                                  "debug": false,
                                  "positionClass": "toast-top-right",
                                  "toastClass": "White",
                                  "onclick": null,
                                  "showDuration": "300",
                                  "hideDuration": "1000",
                                  "timeOut": "2000",
                                  "extendedTimeOut": "1000",
                                  "showEasing": "swing",
                                  "hideEasing": "linear",
                                  "showMethod": "fadeIn",
                                  "hideMethod": "fadeOut"
                              }
        });


        $(function () {
            $(".modal-body select").select2({
                minimumResultsForSearch: -1
            });
            $("#Department").select2();
            $("#DepGroup").select2();
        });
        $("#ManagedBy").select2();
    });






    Status = function () {
        



        $('#MailType').prop('checked', true);
        $('#defaultSignature').prop('checked', false);
        $("#MailType").prop('disabled', true);
        $("#MailType1").prop('disabled', true);
        $("#Department").find("option:selected").val(),
        $("#DepGroup").find("option:selected").val()

        var Department = $("#DepartmentID").find("option:selected").val();
        var messsageToSend = $('#message').val();
        var SubjectToSend = $('#subject').val();
        var UserList = $("#ManagedBy").find("option:selected").val();



        if ((Department == "" || SubjectToSend == "" || messsageToSend == "" || UserList == "" || $("#filedisplay1").text() !== "" && $("#filedisplay2").text() !== "" && $("#filedisplay1").text() === $("#filedisplay2").text())) {


            var Department = $("#DepartmentID").find("option:selected").val();


            var messsageToSend = $('#message').val();
            var SubjectToSend = $('#subject').val();
            var UserList = $("#ManagedBy").find("option:selected").val();
            if ($("#DepartmentID").find("option:selected").val() == "") {
               
                return false;
            }
            if ($('#subject').val() == "") {
               
                return false;
            }
            if ($('#message').val() == "") {
                return false;
            }

            if ($("#ManagedBy").find("option:selected").val() == "") {
                return false;
               
            }

            if ($("#filedisplay1").text() !== "" && $("#filedisplay2").text() !== "" && $("#filedisplay1").text() === $("#filedisplay2").text()) {
                return false;
               
            }
        }
        var check = $('#ManagedBy').val();
        
        //alert(check);

        var List = [];
        var checks = new Array();
        for (var i = 0; i < check.length; i++) {
            List[i] = {

                "UserID": check[i]
            }
        }
        var Obj = {
            UserID: List,
        };
       


            $.ajax({
                url: "../../Communication/Status/",
                type: 'POST',
                cache: false,
                data: { UserName: JSON.stringify(Obj) },
                traditional: true,
                global: false,
                success: function (result) {


                    $('#PartialSection').html(result);
                    $('#portlet-config').appendTo("body").modal({ backdrop: 'static', keyboard: false });

                    // $('#form').submit();


                }
            });


        };
  




    @* function GetGroups() {
        //$('#portlet-config1').show();

        var Did = $("#Department").find("option:selected").prop("value");

        $('#tree').empty();

        $.ajax({

            url: "../../Communication/GetGroups/",
            type: 'GET',
            cache: false,
            data: { depid: Did },
            success: function (result) {

                //console.log(result.FirstList);
                //console.log(result.SecondList);

                for (var i = 0; i < result.FirstList.length; i++) {

                    $("#tree").append("<li><input id='grp" + i + "' type='checkbox' checked onchange='GetGroup(" + result.FirstList[i].GroupId + "," + i + ")' value='" + result.FirstList[i].GroupId + "'  /><label>" + result.FirstList[i].GroupName + "</label></li>");

                    $('#grp' + i).on("change", function () {

                    });
                }

                for (var i = 0; i < result.SecondList.length; i++) {
                    result.SecondList.forEach(function (valArr) {
                       // fconsole.log($("#ManagedBy option[value='" + valArr.Userid + "']").attr("selected", 1));
                        //$("#ManagedBy option[value='" + valArr.Userid + "']").attr("selected", 1);
                        //$("#ManagedBy").select2();
                        $("#ManagedBy").select2("val", $("#ManagedBy").select2("val").concat(valArr.Userid));
                    });
                }
               // $('#portlet-config1').hide();
            }
        });
    }*@






    @*function User(groupid, i) {

       
        
        var Did = $("#Department").find("option:selected").prop("value");
        var groupChkID = $('#grp' + i).prop('checked');

        $.ajax({
           
            url: "../../Communication/GetUsers/",
            type: 'GET',
            cache: false,
            data: { DepartmentId: Did, groupid: groupid },
            success: function (result) {
                

                //if (result.length > 0) {
                //    $("#ManagedBy option:selected").removeAttr("selected");
                //    $("#ManagedBy").select2();                  
                //}

               // result.forEach(function (valArr) {


                for (var i = 0; i < result.length; i++) {

                  // f console.log($("#ManagedBy option[value='" + result[i].Userid + "']").attr("selected"));

                    if ($('#grp' + i).prop('checked')) {
                        $("#ManagedBy option[value='" + result[i].Userid + "']").prop("selected", true);
                    }
                    else {
                        $("#ManagedBy option[value='" + result[i].Userid + "']").prop("selected", false);
                    }

                    $("#ManagedBy").select2();

                }
                
              
            }
        });
    }*@






    function GetGroups() {


        

        

        var DepartmentName = $('#DepartmentID').find("option:selected").prop("value");

        $("#hide").hide();


        var url2 = '@Url.Action("GetAvailEmployees")';

        $.get(url2, { DepartmentName: DepartmentName }, function (data) {
            GetUsers(DepartmentName);

            $(".test").html("");

            var items = [];
            items.push("");
            items.push("<option value=0>--Select--</option>");

            $.each(data, function () {


                

                

                var counter = $(".test tr").length;

                items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                $(".test").append('<tr><td><input type="checkbox" class="CheckBox" unchecked onchange="GetUsers(this.Value)" value="' + this.Value + '" id="Check' + counter + '" ></td><td>' + this.Text + '</td></tr>');

            });
            $("#UID").html(items.join(' '));
            $("#UID").select2();
            // setTimeout(GetUsers, 3);
            GetUsers(DepartmentName);




        });
    }



    function GetUsers(Dep) {




        var DepartmentName = Dep;
        //var Dep = $('#DepartmentID').find("option:selected").prop("value");

        var counter = $(".test tr").length;
        var msg = '';
        GROUP = [];
        for (i = 0; i < counter; i++) {

            msg += "\n Check #" + i + " : " + $('#Check' + i).prop("checked");



            //alert(msg);

            if ($('#Check' + i).prop("checked") == true) {
                GROUP.push($('#Check' + i).val())
            }
        }


        var DepartmentName = $('#DepartmentID').find("option:selected").prop("value");

        if (DepartmentName != null) {
            var Dep = $('#DepartmentID').find("option:selected").prop("value");

            var url6 = '@Url.Action("GetUsers")';
            //url6 : "../../Communication/GetUsers/",
            // $.get(url6, { GroupName: JSON.stringify(GROUP), DepartmentName: DepartmentName },
            $.get(url6, { GroupName: JSON.stringify(GROUP), DepartmentName: Dep },
           function (data) {
               var items = [];
               items.push("");

               $("#hide").show();
               items.push("<option value=0>--Select--</option>");


                       $.each(data, function () {

                           items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                       });
                       $("#ManagedBy").html(items.join(' '));
                       $("#ManagedBy").select2();




               $.each(data, function () {
                   $("#ManagedBy option[value=" + this.Value + "]").prop("selected", true);
                   $("#ManagedBy").select2();
                   // $("#ManagedBy").select2("val", $("#ManagedBy").select2("val").concat(this.value));

               });
           });
        }
    }



</script>
@*<ol class="breadcrumb bc-3">
    <li><a href="@Url.Action("Messages", "Communication")">Communication</a></li>
    <li class="active"><strong>Send Email(s)</strong> </li>
</ol>*@
    <p>
        <a href="@Url.Action("Messages","Communication")"style="color:black ">
            Communication
        </a>
          &#160;<img src="~/Images/righ-arrow.png" />&#160;
        <b>Send Email(s)</b>
    </p>

<div class="row">
    
    <button class="btn btn-blue" style="float: right; padding-right:10px;margin-top:25px;"   onclick="@("window.location.href='" + @Url.Action("SentMailInbox", "Communication") + "'")    ;">
    View Sent Mail
</button>
        
@using (Html.BeginForm("SendMailList", "Communication", FormMethod.Post, new { @id = "form", @class = "form-horizontal form-groups-bordered", @enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12" style="text-align: right; float: right; margin-top:30px">
            @Html.Label("*", new { @style = "color:#FF0000" }) Required field(s)
        </div>
    </div>
        

      @*   <div class="form-group">
            <label class="col-sm-3 control-label">
               @Html.Label( "Department:",(string)ViewBag.Lbl_department ) @Html.Label("*", new { @style = "color:#FF0000" })
            </label>
            <div class="col-sm-6 ">
               @Html.DropDownListFor(m => m.Department, ViewBag.DepartmentList as SelectList, "---Select---", new { @id = "Department", @name = "DepartmentId", @class = "form-control", @onchange = "GetUsers()" })
                <span id="dep" style="color: Red;"></span>
            </div>*@

    <div class="form-group">
        <label class="col-sm-3 control-label">
            Department: @Html.Label("*", new { @style = "color:#FF0000" })
        </label>
        <div class="col-sm-6 ">
            @Html.DropDownListFor(m =>m.Department, ViewBag.Department as SelectList, "---Select---", new
          {
               @id = "DepartmentID",
              @name = "DepartmentId",
              @class = "select2-container select2-container-multi select2 visible",
              @onchange = "GetGroups()"
          })
            <span id="dep" style="color: Red;"></span>
           @* @Html.DropDownList("DepartmentID", ViewBag.Department as SelectList, "--Select--", new { @id = "DepartmentID", @class = "select2-container select2-container-multi select2 visible", @onchange = "GetGroups()" })*@

        </div>
    </div>
    
    
    
    <div class="form-group">
        <label class="col-sm-3 control-label">
            To Groups @Html.Label("*", new { @style = "color:#FF0000" })</label>
        <div id="tree" class="col-lg-9" >
             <table width="50%" class="test">
                                    <tr>
                                        <td>
                                            </td>
                                        <td>
                                            </td>
                                        </tr>
                                    </table>
                     </div>

    </div>
                                <br/>
    
        
   @* if (Model.dep != null)
    { 
    
    }*@

   @* else
    {*@

    @*<div class="form-group">
        <label class="col-sm-3 control-label">
            To Groups: @Html.Label("", new { @style = "color:#FF0000" })</label>
        <div id="tree" class="col-lg-9">
            <ul>
                @foreach (var Grp in Model.Groups)
                {
                        
                    <ul id="ul1">

                        <li id="li1"></li>

                    </ul>
                      
                }

            </ul>
        </div>
    </div>*@
    
   @* }*@
        
        

        

        
    <div class="form-group">
        <label class="col-sm-3 control-label">
            User List: @Html.Label("*", new { @style = "color:#FF0000" })
        </label>
        <div class="col-sm-6 ">
           @* @Html.DropDownListFor(m => m.UserList, ViewBag.Leaders as MultiSelectList, "---Select---", new { @id = "ManagedBy", @class = "select2-container select2-container-multi select2 visible", @multiple = "multiple" })*@
            @Html.DropDownListFor(m => m.UserList, ViewBag.Users as MultiSelectList, "---Select---", new { @id = "ManagedBy", @class = "select2-container select2-container-multi select2 visible", @multiple = "multiple" })
        </div>
    </div>

        
        
        
        
    <div class="form-group">
        <label class="col-sm-3 control-label">
            Subject: @Html.Label("*", new { @style = "color:#FF0000" })
        </label>
        <div class="col-sm-6 ">
            @Html.TextBoxFor(m => m.subject, new { @class = "form-control", @tabindex = "1", @id = "subject", @maxlength = 50 })
        </div>
    </div>
        
    
    <div class="form-group">
        <label class="col-sm-3 control-label">
            Message @Html.Label("*", new { @style = "color:#FF0000" })
        </label>
        <div class="col-sm-6 chat-textarea">
            @Html.TextAreaFor(m => m.Message, new { @rows = 15, @cols = 1500, @class = "form-control", @tabindex = "2", @id = "message", @maxlength = 500 })
        </div>
    </div>
        
    for (int fileNo = 1; fileNo <= 2; fileNo++)
    {                 
    <div class="form-group">
        <label class="col-sm-3 control-label">
            Attachment @fileNo :</label>
        @*<div style="color:orange">Please upload less than 5 MB</div>*@
        <div class="col-sm-6">
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-default btn-file" id="Choose" onchange="Check(@fileNo)"  ><span>Choose file</span>
                    <input tabindex="3" type="file" id=@string.Format("File{0}", fileNo)   name="fileList"  class="file" /></span>
                <span class="fileinput-filename" id=@string.Format("filedisplay{0}", @fileNo) ></span>
                <span class="fileinput-new"  id=@string.Format("filenew{0}", @fileNo)>No file chosen</span>
            </div>
            <button type="button" id=@string.Format("btnAdd{0}", fileNo) class="btn btn-info" tabindex="4" onclick="test(@fileNo)">
                Remove</button>
        </div>
    </div>            
    }
        
    <br />
        
        
    <div class="form-group">
        <label class="col-sm-3 control-label">
            Attachment Type</label>
        @Html.RadioButtonFor(m => m.MailType, 1, new { @checked = "true", @tabindex = "6", @id = "MailType" })
        <label class="control-label">
            Attachment</label>
        @Html.RadioButtonFor(m => m.MailType, 2, new { @tabindex = "7", @id = "MailType1" })
        <label class="control-label">
            Inline</label>
    </div>
    <div class="center-block" style="margin-left: 30%; margin-top: 3%">
        @Html.CheckBoxFor(m => m.defaultSignature, new { @tabindex = "8" })
        <span>Default Signature</span>
    </div>
    <div>

        <button tabindex="9" id="submit" class="btn btn-success center-block" onclick="Status()">
            Send Email(s)</button>
       
    </div>
    
   
  
}</div>
   <div class="modal fade in" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="tools">
            <div id="PartialSection">
            </div>
        </div>
    </div>
</div>
@if (Model.ErrorSuccessMessage != null)
{
    string className = Model.ErrorSuccessMessage.Contains("Error in sending mail") ? "alert alert-error" : "alert alert-success";
    if (!Model.ErrorSuccessMessage.Contains("Error in sending mail"))
    {
    <script type="text/javascript">
        var opts = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-right",
            "toastClass": "White",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "2000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        setTimeout(function () {
            toastr.success("Mail sent successfully.", opts);
        }, 0);

        $("#subject").val('');
        $("#message").val('');
        $("#department").val('');
        $("#DepGroup").val('');


    </script>  
        
    }

}


