
@model IEnumerable<DSRCManagementSystem.Models.Inbox>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
  <ol class="breadcrumb bc-3">
    <li>Communication</li>
        <li class="active"><strong>View Sent Mail Item</strong></li>
    </ol>
    <div class="modal-content">
        <div class="modal-header" style="background-color: #f0f0f1;">           
            <h4 class="modal-title">
           View Sent Mail Item</h4>
        </div>
 
     <div class="modal-body">


            @using (Html.BeginForm("Add", "AddExpenditure", FormMethod.Post))
            {
                foreach (var item in Model)
                {
        <div class="mail-body">
              <div class="mail-info" style="background-color: lightgray;margin-left: -20px;   margin-right: -20px;">
                   <div class="mail-sender dropdown">
     <a class="dropdown-toggle" style="font-size: x-large;" data-toggle="dropdown"> 
         <img src="/User/RetrieveImage/1" class="img-circle"style="height: 100px;width: 100px;"> 
         <span>@item.UserName</span>
                 to <span style="word-wrap: break-word; word-break: break-all">(@item.to)</span> </a> 
                    <div class="mail-date" style="font-size: small;float:right;">
                @item.senton
                </div> </div>  </div><br /> <br />
                    <div class="mail-text"> 
                        <p style="font-size: x-large; margin-left: 20px;" id="textarea"> @Html.Raw(Html.Encode(@item.message ?? string.Empty).Replace("\n", "<br /><br />"))</p> 
                    </div> 
                  </div>
                }
            }
         </div>
        </div>
              <br /> 
       <div class="col-md-12">
                        <form class="text-right" method="get" action="/Communication/SentInbox">
                        <div class="btn-group" style="float: right; padding-right: 10px !important">
                            <button type="submit" class="btn btn-default">
                          
                                <i></i>Back</button>
                        </div>
                        </form>
                    </div>

  

   
            
                
       </body>
             </html>

