@model DSRCManagementSystem.Models.ResetPassword
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
    <style>
        .visibility_color {
            background-color: red;
        }

       dropdown-menu {
    background-color: white;
          }  
    </style>
</head>
<body>
    <div>
        <div class="modal-content">
            <div class="modal-header" style="background-color: #f0f0f1;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">
                    Reset Password
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.HiddenFor(x => x.UserId, new { @id = "Iduserid" })
                            @Html.HiddenFor(x => x.EmailAddress, new { @id = "Idemailaddress" })
                            @Html.RadioButtonFor(x => x.Reset, "", new { @id = "IdSendLink", @name = "ResetPassword",@checked="true" }) Send Link
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.RadioButtonFor(x => x.Reset, "", new { @id = "IdResetHere", @name = "ResetPassword" }) Reset Here
                        </div>
                    </div>
                </div>
                <div class="row" id="divPassword">
                    <div class="col-md-6">
                        <div class="form-group">
                            @*@Html.LabelFor(x=>x.ConfirmPassword, new { @class = "control-label" })
                                @Html.Label("  *", new { @style = "color:red;font-weight:bold;" })
                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @id = "Idconfirmpassword", @maxlength = "50" })
                                @Html.ValidationMessageFor(x => x.ConfirmPassword, " ", new { @style = "color:red" })
                                <span id="span_confirmpassword" style="color:Red"></span>*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Password, new { @class = "control-label" })
                        @Html.Label("  *", new { @style = "color:red;font-weight:bold;" })
                        <div class="input-group">
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @id = "Idpassword", @maxlength = "50" })
                            <div class="input-group-addon">
                                <a onclick="Visibilty()" style="cursor:pointer;" id="ideye">
                                    <i class="entypo-eye"></i>
                                </a>
                            </div>
                        </div>
                        <span id="span_password" style="color:Red"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" id="btnAdd" class="btn btn-info" onclick="Reset()">
                    Reset Password
                </button>
            </div>
             <div class="modal fade in" id="portlet-config1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="tools">
                <div id="PartialSection">
                    <div id="LoaderContent" style="height: 100%;">
                        <img src="../../Content/Template/images/finalloader.GIF" style="margin-left: 43%; margin-top: 40%;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
            <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>
            <script src="../../Content/JS/ToasterAlert.js" type="text/javascript"></script>
            <script type="text/javascript">

                $(document).ready(function () {
                    $("#divPassword").hide();
                    $("#IdResetHere").click(function () {
                        if ($("#IdResetHere").is(":checked") == true) {
                            $("#divPassword").show();
                        }
                    });
                    $("#IdSendLink").click(function () {
                        if ($("#IdSendLink").is(":checked") == true) {
                            $("#divPassword").hide();
                        }
                    });

                });
            </script>
            <script type="text/javascript">
                function Visibilty() {
                    if ($("#Idpassword").prop('type') == 'password') {
                        $("#Idpassword").prop('type', 'text')
                    }
                    else if ($("#Idpassword").prop('type') == 'text') {
                        $("#Idpassword").prop('type', 'password')
                    }
                    $("#ideye").toggleClass("visibility_color");
                }
                function Reset() {
                    ////var pat1 = /^\d{5}$/;
                    ////var pass = document.getElementById("Idpassword");

                    ////if (!pat1.test(pass.value)) {
                    ////    document.getElementById("span_password").innerHTML = "Minimum Five Characters Required";
                    ////    checkValidation = false;

                    ////}
                    ////else {
                    ////    document.getElementById("s3").innerHTML = "";
                    ////}


                    var charLength = $("#Idpassword").val();
                    //var pat = /^\d{5}$/;
                   
                    if ($('#divPassword').css('display') == 'block' && document.getElementById('Idpassword').value == "" )
                    {
                        if (document.getElementById('Idpassword').value == "") {
                            document.getElementById("span_password").innerHTML = "Enter Password";
                            
                        }
                            //else if (document.getElementById('Idconfirmpassword').value == "") {
                        //    document.getElementById("span_confirmpassword").innerHTML = "Enter Confirm Password";
                        //}
                        //else (charLength.length < 5) {
                        //    document.getElementById("span_password").innerHTML = "Minimum Five Characters Required";
                        //}
                    }

                    if (document.getElementById('Idpassword').value != 0) {
                        if (charLength.length < 5) {
                            document.getElementById("span_password").innerHTML = "Minimum Five Characters Required";
                        }
                        else {
                            //document.getElementById("span_password").innerHTML = " ";
                            var values = {
                                "SendLink": $("#IdSendLink").is(":checked"),
                                "ResetHere": $("#IdResetHere").is(":checked"),
                                "UserId": $("#Iduserid").val(),
                                "EmailAddress": $("#Idemailaddress").val(),
                                "Password": $("#Idpassword").val(),
                                //"ConfirmPassword": $("#Idconfirmpassword").val()
                            }
                            //$('#portlet-config').appendTo("body").modal({ backdrop: 'static', keyboard: false });
                            var toastrOptions = {
                                "closeButton": true,
                                "debug": false,
                                "positionClass": "toast-top-right",
                                "toastClass": "White",
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "2000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            $.ajax({
                                url: "../../Users/ResetPassword/",
                                type: 'POST', cache: false,
                                data: values,
                                traditional: true,
                                global: false,
                                success: function (result) {
                                    //$('#PartialSection').html(result);

                                    if (result.Result === "Success") {
                                        $('#portlet-config1').appendTo("body").modal({ backdrop: 'static', keyboard: false });
                                        toastr.success("Employee Reset Password Mail Sent Successfully", toastrOptions);
                                        setTimeout(function () { location.reload(); }, 1000);
                                    }
                                    else if (result.Result === "ResetHereSuccess") {
                                        $('#portlet-config1').appendTo("body").modal({ backdrop: 'static', keyboard: false });
                                        toastr.success("Employee Password Reseted Successfully", toastrOptions);
                                        setTimeout(function () { location.reload(); }, 1000);
                                    }
                                    else if (result.Result === "Failer") {
                                        toastr.error("Invalid Email Address", toastrOptions);
                                        //setTimeout(function () { location.reload(); }, 1000);
                                    }
                                }
                            });
                        }
                    }
                    else {
                        var values = {
                            "SendLink": $("#IdSendLink").is(":checked"),
                            "ResetHere": $("#IdResetHere").is(":checked"),
                            "UserId": $("#Iduserid").val(),
                            "EmailAddress": $("#Idemailaddress").val(),
                            "Password": $("#Idpassword").val(),
                            //"ConfirmPassword": $("#Idconfirmpassword").val()
                        }
                        //$('#portlet-config').appendTo("body").modal({ backdrop: 'static', keyboard: false });
                        var toastrOptions = {
                            "closeButton": true,
                            "debug": false,
                            "positionClass": "toast-top-right",
                            "toastClass": "White",
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "2000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        $.ajax({
                            url: "../../Users/ResetPassword/",
                            type: 'POST', cache: false,
                            data: values,
                            traditional: true,
                            global: false,
                            success: function (result) {
                                //$('#PartialSection').html(result);

                                if (result.Result === "Success") {
                                    $('#portlet-config1').appendTo("body").modal({ backdrop: 'static', keyboard: false });
                                    toastr.success("Employee Reset Password Mail Sent Successfully", toastrOptions);
                                    setTimeout(function () { location.reload(); }, 1000);
                                }
                                else if (result.Result === "ResetHereSuccess") {
                                    $('#portlet-config1').appendTo("body").modal({ backdrop: 'static', keyboard: false });
                                    toastr.success("Employee Password Reseted Successfully", toastrOptions);
                                    setTimeout(function () { location.reload(); }, 1000);
                                }
                                else if (result.Result === "Failer") {
                                    toastr.error("Invalid Email Address", toastrOptions);
                                    //setTimeout(function () { location.reload(); }, 1000);
                                }
                            }
                        });
                    }
                }
            </script>
        </div>
    </div>
</body>
</html>
