@model DSRCManagementSystem.CalendarYear
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Academic Year</title>
    <link href="../../Content/Template/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css"
        rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/entypo.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/css/font-icons/entypo/css/animation.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"
        id="style-resource-4" />
    <link href="../../Content/Template/css/custom.css" rel="stylesheet" type="text/css" />

      <style>
      .dropdown-menu {
    background-color: white;
}   
        </style> 
</head>
<body>
    <div class="modal-content">
        <div class="modal-header" style="background-color: #f0f0f1;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×</button>
            <h4 class="modal-title">
                Update Academic Year</h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("EditUser", "User", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.CalendarYearId)
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Starting Month", new { @class = "control-label" })
                            @Html.DropDownListFor(x => x.StartingMonth, ViewBag.MonthList as SelectList, new { @id = "StartingMonth", @name = "StartingMonth", @class = "form-control", @autocomplete = "off", @onchange = "DropDownChangeFunc(this.name,this.value)" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Ending Month", new { @class = "control-label" })
                            @Html.DropDownListFor(x => x.EndingMonth, ViewBag.MonthList as SelectList, new { @id = "EndingMonth", @name = "EndingMonth", @class = "form-control", @autocomplete = "off", @onchange = "DropDownChangeFunc(this.name,this.value)" })
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                Cancel
            </button>
            <button type="button" id="btnAdd" class="btn btn-info" onclick="UpdateCalendar()">
                Save</button>
        </div>
    </div>
    <script src="../../Content/JS/ToasterAlert.js" type="text/javascript"></script>
    <script type="text/javascript">
        function DropDownChangeFunc(name,val) {
            $.ajax({ url: "../../Leave/DropDownFilter/",
                type: 'GET',
                dataType: "json",
                data: { monthType: name, id: val },
                success: function (result) {
                    if (name === "StartingMonth") {
                        $("#EndingMonth").val(result.EndingMonth);
                    } else {
                        $("#StartingMonth").val(result.StartingMonth);
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        function UpdateCalendar() {
            var values =
        {
            "CalendarYearId": $("#CalendarYearId").val(),
            "StartingMonth": $("#StartingMonth").find("option:selected").prop("value"),
            "EndingMonth": $("#EndingMonth").find("option:selected").prop("value")
        };
            var toastrOptions = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-right",
                "toastClass": "White",
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            $.ajax({
                url: "../../Leave/EditCalendar/",
                type: 'POST',
                cache: false,
                data: values,
                success: function (result) {
                    if (result.Result === "Success") {
                        $("#portlet-config").modal('hide');
                        toastr.success("Academic Year details has been updated successfully", toastrOptions);
                        ReloadGrid();
                    }
                    else {
                        $("#PartialSection").html(result);
                        $("#portlet-config").modal({ backdrop: "static", keyboard: false });
                    }
                }
            });
        }

    </script>
</body>
</html>
