@model DSRCManagementSystem.Models.LDCourse2List
@{                                
    ViewBag.Title = "Add Training ";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add New Training</title>

    @section AddToHead{
        <link href="../../Content/jquery-timepicker-master/jquery.timepicker.css" rel="stylesheet"
            type="text/css" />
        <script src="../../Content/jquery-timepicker-master/jquery.timepicker.js" type="text/javascript"></script>
        <script src="../../Content/jquery-timepicker-master/jquery.timepicker.min.js" type="text/javascript"></script>
    }
    <style>
        .select2-container select2-container-multi select2 visible {
            width: 300px;
            height: 40px;
        }
    </style>

    <style>
        .dropdown-menu {
            background-color: white;
        }
    </style>

</head>
<body>
    @{
        int SNO = 1;
    }
    @*<ol class="breadcrumb bc-3">
        <li><a href="@Url.Action("Mylearning", "LDHome")">Learning and Development</a></li>
         <li><a href="@Url.Action("MTRaining", "ManageTraining")">Manage Training</a></li>
        <li class="active"><strong>Add Training</strong> </li>
    </ol>*@
    <div class="modal-content">
        <div class="modal-header" style="background-color: #f0f0f1;">
            <button type="button" class="close" onclick="javascript:window.location.reload()" data-dismiss="modal" aria-hidden="true">
                ×</button>
            <h4 class="modal-title">Add New Training</h4>
        </div>

        <div class="modal-body">

            @using (Html.BeginForm("AddCoursedetails", "LDCourse2", FormMethod.Post, new { @id = "form" }))
            {

                for (int i = 0; i < Model.ldmlist.Count; i++)
                {   
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">


                            <div id="Courseloop">
                                <span id="Seating"></span>
                                <div class="row">
                                    <div class="col-md-12" style="text-align: right">
                                        @Html.Label("*", new { @style = "color:#FF0000" }) Required field(s)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.Label("Training Name")
                                        @Html.Label("*", new { @style = "color:#FF0000" })
                                        @Html.TextBoxFor(x => x.ldmlist[i].Coursename, new { @id = "Course" + i, @class = "form-control", @style = "height:42px", @maxlength = 50 })
                                        @Html.ValidationMessageFor(x => x.ldmlist[i].Coursename, " ", new { @style = "color:red" })
                                        <span id="course" style="color: Red"></span><span id="courseexist" style="color: Red"></span>
                                        <span id="span_TrainingName" style="color: Red;"></span>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.Label("Technology")
                                        @Html.Label("*", new { @style = "color:#FF0000" })
                                        @Html.DropDownListFor(x => x.ldmlist[i].TechnologyId, Model.LDM.TechIDList, "--Select--", new
                                       {
                                           @id = "TechnologyId" + i,
                                           @name = "TechnologyId",
                                           @class = "form-control",
                                           @onpaste = "return false",
                                           @style = "height:42px;"
                                       })
                                        @Html.ValidationMessageFor(x => x.ldmlist[i].TechnologyId, " ", new { @style = "color:red" })
                                        <span id="tech" style="color: Red"></span>

                                    </div>
                                </div>

                                <br />


                                <div class="row">

                                    <div class="col-md-6">
                                        @Html.Label("Level")
                                        @Html.Label("*", new { @style = "color:#FF0000" })
                                        @Html.DropDownListFor(x => x.ldmlist[i].LevelId, Model.LDM.LevelIDList, "--Select--", new { @id = "LevelId" + i, @name = "LevelId", @class = "form-control", @style = "height:42px;" })
                                        @Html.ValidationMessageFor(x => x.ldmlist[i].LevelId, " ", new { @style = "color:red" })
                                        <span id="level" style="color: Red"></span>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.Label("Scheduled Date")
                                        @Html.Label("*", new { @style = "color:#FF0000" })
                                        @Html.TextBoxFor(x => x.ldmlist[i].Scheduledate, new { @id = "scheduledate" + i, @class = "form-control datetimepicker", @style = "height:42px" })
                                        @Html.ValidationMessageFor(x => x.ldmlist[i].Scheduledate, " ", new { @style = "color:red" })
                                        <span id="date" style="color: Red"></span>

                                    </div>
                                </div>

                                <br />

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-controltimepicker">
                                            @Html.Label("Start Time")
                                            @Html.Label("*", new { @style = "color:#FF0000" })
                                            @Html.TextBoxFor(x => x.ldmlist[i].Starttime, " ", new { @id = "start" + i, @class = "form-control timepicker", @style = "height:42px;" })
                                            @Html.ValidationMessageFor(x => x.ldmlist[i].Starttime, " ", new { @style = "color:red" })
                                            <span id="courseexist1" style="color: Red"></span>
                                            <span id="stime" style="color: Red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-controltimepicker">
                                            @Html.Label("End Time")
                                            @Html.Label("*", new { @style = "color:#FF0000" })
                                            @Html.TextBoxFor(x => x.ldmlist[i].Endtime, " ", new { @id = "end" + i, @class = "form-control timepicker", @style = "height:42px;" })
                                            @Html.ValidationMessageFor(x => x.ldmlist[i].Endtime, " ", new { @style = "color:red" })
                                            <span id="etime" style="color: Red"></span><span id="etime1" style="color: Red"></span>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="row">

                                    <div class="col-md-6">
                                        @Html.Label("Instructor")
                                        @Html.Label("*", new { @style = "color:#FF0000" })
                                        @Html.DropDownListFor(x => x.ldmlist[i].userid, Model.LDM.InstructorIDList, "--Select--", new { @name = "ldmlist[x].userid", @id = "UserID" + i, @class = "form-control", @style = "height:42px;" })
                                        @Html.ValidationMessageFor(x => x.ldmlist[i].userid, " ", new { @style = "color:red" })
                                        <span id="ins" style="color: Red"></span>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.Label("Seats")
                                        @Html.Label("*", new { @style = "color:#FF0000" })
                                        @Html.TextBoxFor(x => x.ldmlist[i].SeatingCapacity, " ", new { @id = "SeatingCapacity" + i, @class = "form-control ", @style = "height:42px;", @maxlength = 2 })
                                        @Html.ValidationMessageFor(x => x.ldmlist[i].SeatingCapacity, " ", new { @style = "color:red" })
                                        <span id="seat" style="color: Red"></span>

                                    </div>
                                </div>

                                <br />



                                <div class="row">

                                    <div class="col-md-12">
                                        @Html.Label("Notify To Departments")
                                        @Html.DropDownList("MailDepartments", ViewBag.Departments as MultiSelectList, "--Select--", new { @id = "MailDepartments", @class = "form-control", @multiple = "multiple", @maxlength = 50, @style = "width:auto;", @onchange = " FilterUser() " })
                                    </div>
                                </div>

                                <br />
                                <div class="row">

                                    <div class="col-md-12">
                                        @Html.Label("Notify To Users")
                                        @Html.DropDownList("NotifyUsers", ViewBag.Users as MultiSelectList, "--Select--", new { @id = "NotifyUsers", @class = "form-control", @multiple = "multiple", @maxlength = 50, @style = "width:auto;" })

                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
                }
            }

        </div>

        <span id="training" style="color: Red"></span>
        @* <input type="hidden" id="success" value="@TempData["success"]"/>
        <input type="hidden" id="validation" value="@TempData["validation"]"/>
        <input type="hidden" id="validation1" value="@TempData["validation1"]" />*@
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:window.location.reload()">
                Cancel
            </button>
            <button type="submit" class="btn btn-info" id="btnsub" name="submitbutton1" onclick="doValidation()">
                Save</button>
        </div>

    </div>
    @Html.Partial("_AddCoursedetails", Model)
    <div class="modal fade in" id="Loader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="tools">
                <div id="PartialSection">
                    <div id="LoaderContent" style="height: 100%;">
                        <img src="../../Content/Template/images/finalloader.GIF" style="margin-left: 43%; margin-top: 50%;" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../Content/Template/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="../../Content/jquery-timepicker-master/jquery.timepicker.js" type="text/javascript"></script>
    <script src="../../Content/jquery-timepicker-master/jquery.timepicker.min.js" type="text/javascript"></script>
    <link href="~/Content/Plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/Content/Plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">




        $(function () {
            $("#NotifyUsers").select2();
            $("#MailDepartments").select2();
            $(".select9").select2();


            //$(".timepicker").timepicker({
            //    format: 'dd-mm-yyyy',
            //    //startDate: '1d',
            //    todayHighlight: true,
            //    autoclose: true,
            //    //endDate: '1d'

            //});

        });


        $(document).ready(function () {



            $(".timepicker").datetimepicker({
                pickDate: false,
                format: 'HH:mm',
            });


        });



        var Submitform = true;

        function doValidation() {

            var errorcount = 0;
            var count = $("#Courseloop > div").length;
            count = count - 2;
            //for (i = 0; i < count; i++) {

            var i = 0;
            if ($("#Course" + i).val() == 0) {
                $("#course").html("Enter Training Name");
                errorcount++;

            }
            else {
                $("#course").html(" ");
            }


            if ($("#TechnologyId" + i).val() == '') {

                $("#tech").html("Select Technology");
                errorcount++;

            }
            else {
                $("#tech").html(" ");
            }

            if ($("#spl" + i).val() == '') {

                $("#speli").html("Select Specification");
                errorcount++;

            }
            else {
                $("#speli").html(" ");
            }


            if ($("#LevelId" + i).val() == '') {

                $("#level").html(" Select Level");
                errorcount++;

            }
            else {
                $("#level").html(" ");
            }


            if ($("#scheduledate" + i).val() == '') {

                $("#date").html("Select Schedule Date");
                errorcount++;

            }
            else {

                $("#date").html(" ");
            }

            if ($("#start" + i).val() == '') {

                $("#stime").html(" Select Start Time");
                errorcount++;

            }
            else {
                $("#stime").html(" ");
            }

            if ($("#end" + i).val() == '') {

                $("#etime").html(" Select End Time");

                errorcount++;

            }
            else {
                $("#etime").html(" ");
            }

            if ($("#UserID" + i).val() == '') {

                $("#ins").html("Select Instructor");
                errorcount++;

            }
            else {
                $("#ins").html(" ");
            }

            if ($("#SeatingCapacity" + i).val() == '') {

                $("#seat").html(" Enter Seats");
                errorcount++;

            }
            else if ($("#SeatingCapacity" + i).val() == '0') {

                $("#seat").html(" seat must be greater than the 0 ");
                errorcount++;
            }
            else if ($("#SeatingCapacity" + i).val() == '00') {

                $("#seat").html(" seat must be greater than the 0 ");
                errorcount++;
            }
            else {
                $("#seat").html(" ");
            }

            if ($("#end" + i).val().length > 0) {

                var strStartTime = $("#start" + i).val();

                var strEndTime = $("#end" + i).val();

                var stt = new Date("October 1, 2014 " + strStartTime);
                stt = stt.getTime();

                var endt = new Date("October 1, 2014 " + strEndTime);
                endt = endt.getTime();


                if (stt >= endt) {
                    $("#etime1").html("End Time must be greater than Start time ").show();

                    return false;
                }

                //}
            }



            if (errorcount == 0 && Submitform == true) {
                //$("#form").submit();

                var values =
                          {
                              "ldmlist[0].Coursename": $("#Course0").val(),
                              "ldmlist[0].TechnologyId": $("#TechnologyId0").val(),
                              "ldmlist[0].LevelId": $("#LevelId0").val(),
                              "ldmlist[0].Scheduledate": $("#scheduledate0").val(),
                              "ldmlist[0].Starttime": $("#start0").val(),
                              "ldmlist[0].Endtime": $("#end0").val(),
                              "ldmlist[0].userid": $("#UserID0").val(),
                              "ldmlist[0].SeatingCapacity": $("#SeatingCapacity0").val(),
                              "MailDepartments": $("#MailDepartments").val(),
                              "NotifyUsers": $("#NotifyUsers").val(),






                          }
                var opts =
                       {
                           "closeButton": true,
                           "debug": false,
                           "positionClass": "toast-top-right",
                           "toastClass": "White",
                           "onclick": null,
                           "showDuration": "300",
                           "hideDuration": "1000",
                           "timeOut": "2000",
                           "extendedTimeOut": "1000",
                           "showEasing": "swing",
                           "hideEasing": "linear",
                           "showMethod": "fadeIn",
                           "hideMethod": "fadeOut"
                       }

                $.ajax({

                    url: "../../LDCourse2/AddCoursedetails/",
                    type: 'POST',
                    cache: false,
                    data: values,
                    traditional: true,
                    global: false,
                    success: function (result) {
                        debugger;
                        if (result == "Success") {
                            toastr.success(" Training Added successfully", opts);
                            setTimeout(function () { location.reload(); }, 1000);
                        }
                        if (result == "Warning") {
                            toastr.warning("Training  Already Exist", opts);
                        }
                    }

                });

            }

        }

        $(document).ready(function () {
            var count = $("#Courseloop > div").length;

            count = count - 2;

            for (i = 0; i < count; i++) {
                $("#SeatingCapacity" + i).keypress(function (e) {
                    var regex = new RegExp("^[0-9]+$");

                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);


                    if (regex.test(str)) {


                        return true;
                    }

                    $("#seat").html("Enter Valid seats").show();
                    return false;



                });
            }
        });







        $(document).ready(function () {
            var count = $("#Courseloop > div").length;

            count = count - 2;

            for (i = 0; i < count; i++) {
                $("#Course" + i).keypress(function (e) {
                    var regex = new RegExp("^[a-zA-Z0-9\\-\\.\\,\\:\\;\\)\\(\\&\\/\\#\\+\\!\\$\\%\\*\\@@\\^\\?\\<\\>\\{\\}\\[\\]\\s]+$");
                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                    if (regex.test(str)) {

                        return true;
                    }

                    $("#course").html("Enter Valid Training Name").show();
                    return false;

                });
            }
        });





        $(document).ready(function () {
            var count = $("#Courseloop > div").length;

            count = count - 2;

            for (i = 0; i < count; i++) {

                $("#scheduledate" + i).keypress(function (e) {
                    var regex = new RegExp("^[0-9/////-]+$");
                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                    if (regex.test(str)) {

                        return true;
                    }

                    $("#date").html("Select Valid Schedule Date").show();

                    return false;
                });
            }
        });
        $(document).ready(function () {
            var count = $("#Courseloop > div").length;

            count = count - 2;

            for (i = 0; i < count; i++) {

                $("#start" + i).keypress(function (e) {
                    var regex = new RegExp("^[0-9//:]+$");
                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                    if (regex.test(str)) {

                        return true;
                    }

                    $("#stime").html("Select Valid Start Time").show();
                    return false;
                });
            }
        });

        $(document).ready(function () {
            var count = $("#Courseloop > div").length;

            count = count - 2;

            for (i = 0; i < count; i++) {

                $("#end" + i).keypress(function (e) {
                    var regex = new RegExp("^[0-9//:]+$");
                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                    if (regex.test(str)) {

                        return true;
                    }

                    $("#etime").html("Select Valid End Time").show();
                    return false;
                });
            }
        });


        $("#scheduledate0").on("change", function () {

            var schdt = $("#scheduledate0").val();


            $.ajax({
                url: "../../LDCourse1/schedule/",
                dataType: 'json',
                data: { 'ID': 0, 'scheduledate': schdt, 'trainingname': $("#Course0").val() },
                success: function (data) {

                    if (data.Name == 'available') {
                        //  $("#etime").html("Select Valid End Time").show();
                        $('#courseexist').html('Training Name already exists');

                        // $("#course0").val('');
                        Submitform = false;


                    }
                    else {
                        $('#courseexist').text('');

                        Submitform = true;
                    }
                }


            });

        });

        $("#start0").on("change", function () {
            debugger;
            var schdt = $("#scheduledate0").val();

            $.ajax({
                url: "../../LDCourse1/scheduletime/",
                dataType: 'json',
                data: { 'trainingID': 0, 'scheduledate': schdt, 'trainingname': $("#Course0").val(), 'trainingtime': $("#start0").val(), 'endtime': null },
                success: function (data) {

                    //if (data.Name == 'availabletime') {
                    if (data == 'availabletime') {
                        $('#training').html('Training has been scheduled for the same timing.Please select different timings');
                        Submitform = false;
                    }
                    else {
                        $('#courseexist').text('');
                        Submitform = true;
                    }
                }
            });

        });

        $(function () {


            $("#Courseloop > div.row > div > select:not(.selectSearch)").select2({
                //minimumResultsForSearch: -1
            });

            $('#Courseloop > div.row > div > select.selectSearch').select2();
            $('#courseRows').hide();
            newrowcount = 0;

            $(".datetimepicker").datepicker({
                format: 'dd/mm/yyyy',
                startDate: '+1d',
                daysOfWeekDisabled: [0, 6],
                autoclose: true
            });

            $('.timepicker').timepicker

        ({

            'minTime': '9:00am',
            'maxTime': '7:30pm',
            'timeFormat': 'h:i A',
            'showDuration': false,
            'forceRoundTime': true

        });

        });



        $("#addBtn").on("click", function () {

            var Text = $('#courseRows').html();
            var rowNumber = newrowcount + 1;
            Text = Text.replace(/LDM./g, 'ldmlist[' + rowNumber + '].');
            var newRow = $(Text);
            $("#Courseloop").append(Text);
            var CourseRow = $('#Courseloop div.row:last');
            $(CourseRow).find('select:not(.selectSearch)').select2({
                //minimumResultsForSearch: -1
            });
            $(CourseRow).find('select.selectSearch').select2();


            $(CourseRow).find('.datetimepicker').datepicker({
                format: 'dd/mm/yyyy',
                startDate: '+1d',
                daysOfWeekDisabled: [0, 6],
                autoclose: true
            });

            $(CourseRow).find(".timepicker").timepicker
       ({

           'minTime': '9:00am',
           'maxTime': '7:30pm',
           'timeFormat': 'h:i A',
           'showDuration': false,
           'forceRoundTime': true


       });


            newrowcount = newrowcount + 1;
            return false;
        });


        //function Clear() {

        //    $("input:text").val('');
        //    $(".panel-body select").select2("val", "0");
        //    $("#course").text('');
        //    $("#tech").text('');
        //    $("#level").text('');
        //    $("#date").text('');
        //    $("#ins").text('');
        //    $("#stime").text('');
        //    $("#etime").text('');
        //    $("#etime1").text('');
        //    $("#seat").text('');
        //    $("#NotifyUsers").text('');

        //}


        $(document).ready(function () {

            if ($('#success').val()) {
                displayMessage($('#success').val(), 'success');



            }


        });
        var displayMessage = function (message, msgType) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-right",
                "toastClass": "White",
                "onclick": null,
                "showDuration": "500",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            toastr[msgType](message);
        };




        $(function () {
            $("#btnAdd").click(function () {
                $("#Courseloop > div.row > div >").select2('val', '');
            });
        });


        function Back() {
            var url = '@Url.Action("MTRaining", "ManageTraining")';
            window.location.href = url;
        }


        function FilterUser() {
            var Cid = $("#MailDepartments").val().toString();
            //$.ajax({
            //    type: "POST",
            //    data: { Value: Cid },
            //    url: "/LDCourse1/NotifyUser/",
            //    success: function (data) {
            //        $("#NotifyUsers").empty();
            //        $("#NotifyUsers").select2();
            //        var items = [];
            //        items.push("");


            //        $.each(data, function () {
            //            items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
            //            $("#NotifyUsers").html(items.join(' '));
            //            $("#NotifyUsers").select2();
            //        });


            //    }

            //});


            var url2 = '@Url.Action("NotifyUser")';
                        $.get(url2, { Value: Cid }, function (data) {
                            $("#NotifyUsers").empty();
                            $("#NotifyUsers").select2();
                            var items = [];
                            items.push("");
                            $.each(data, function () {
                                $("#NotifyUsers").html("");
                                items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                                $("#NotifyUsers").html(items.join(' '));
                                $("#NotifyUsers").select2();
                            });
                        });

                    }







    </script>
</body>
</html>

