@model  DSRCManagementSystem.Models.ManageTrainingModel
@{
    // ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
 
}

@section AddToHead
{
    <script src="../../Content/Template/js/raphael-min.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/morris.min.js" type="text/javascript"></script>
    <link href="../../Content/Template/js/select2/select2-bootstrap.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/Template/js/select2/select2.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Template/css/font-icons/font-awesome/css/font-awesome.min.css"
        rel="stylesheet" type="text/css" />
    <link href="../../Content/Plugins/bootstrap-datetimepicker/css/bootstrap-datepicker.css"
        rel="stylesheet" type="text/css" />
    <script src="../../Content/Plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.js"
        type="text/javascript"></script>
    <script src="../../Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Content/bootstrap/bootbox.min.js" type="text/javascript"></script>
    <script src="../../Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> 
}


      <style>
     .dropdown-menu {
    background-color:white;
}
        </style>

<ol class="breadcrumb bc-3">
        <li><a href="@Url.Action("Mylearning", "LDHome")">Learning and Development</a></li>
        <li><a href="@Url.Action("Mylearning", "LDHome")">My Training</a></li>
          <li>Training Feedback</li>
       <div style=" float: right; padding-top: 4px;">
          <button type="button" id="btnAdd" class="btn btn-default" onclick="Back()">
                            Back
                        </button>
                            </div>
</ol>
<br />

<div class="row" style="height: 500px; ">
    <div class="col-md-12">
        <div class="panel panel-default panel-shadow" data-collapsed="0">
            <!-- panel head -->
            <div class="panel-heading">
                <div class="panel-title" color="White">
                    Training FeedBack</div>
            </div>
            <!-- panel body -->
            <div class="panel-body">
             
             @using (Html.BeginForm("WorkList", "LDTraining", FormMethod.Post))
             { 

                <div class="clear">
                    </div>
                    <br />
                    <div class="table table-bordered datatable" >
                        <table class="table table-bordered datatable" id="tblUsers1">
                            <thead>
                                <tr>                                
                                    <th style="text-align: center;">
                                       Click Links for Feedback
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.FeedBackResult)
                            {
                                <tr>
                              
                                    <td>                                                                         
                                        @Html.HiddenFor(modelItem => item.TrainingID)                                    
                                        <a style="color:Blue; text-decoration:underline" href="../LDTraining/Feedback/@item.TrainingID">Click Here to give Feedback for @Html.DisplayFor(modelItem => item.TrainingName)</a>
                                    </td>
                                 
                                </tr>
                            }
                        </table>
                    </div>  
                 
                 <div style="text-align:right;">
    @*<button type="button" class="btn btn-default"  onclick="@("window.location.href='" + @Url.Action("Mylearning", "LDHome") + "'");" ) >
              Back
            </button>*@
    </div>                                      
                                                       
             }
                                 
 <br />
                   
</div>
</div>
</div>
</div>
 
    <div class="modal fade in" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="tools">
            <div id="PartialSection">
            
            @*Content goes here*@

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="../../Content/Template/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="../../Content/Template/js/select2/select2.min.js" type="text/javascript"></script>
    <script src="../../Content/JS/ToasterAlert.js" type="text/javascript"></script>
    <script type="text/javascript">

        jQuery(document).ready(function ($) {

            $("#tblUsers").dataTable({
                "sPaginationType": "bootstrap",
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": false,
                "bAutoWidth": false,
                "columnDefs": [{ bSortable: false, 'aTargets': [4] }]
            });

            $(".dataTables_wrapper select").select2({
                minimumResultsForSearch: -1
            });

            $('thead>tr>th').css('text-align', 'center');

            $("#tblUsers1").dataTable({
                "sPaginationType": "bootstrap",
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": false,
                "bAutoWidth": false

            });

            $(".dataTables_wrapper select").select2({
                minimumResultsForSearch: -1
            });

            $('thead>tr>th').css('text-align', 'center');
        });

        function Completion(id) {

            window.location = 'Html.Raw(@Session["ServerName"]] + "LDR/Form" + id)';

        }

        function Popup(Id) {

            $("#tblEmployees").dataTable({
                "sPaginationType": "bootstrap",
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": false,
                "bAutoWidth": false
            });

            $.ajax({
                url: "../../ManageTraining/GetEmployee/",
                type: 'GET', cache: false,
                data: { TrainingID: Id },
                success: function (result) {


                    $('#PartialSection').html(result);
                    $('#portlet-config').appendTo("body").modal({ backdrop: 'static', keyboard: false });


                }
            });
        }

        function Back() {
            var url = '@Url.Action("Mylearning", "LDHome")';
            window.location.href = url;
        }




    </script>
}

